*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color:#f8f8ff; 
}
nav{
    background:#00BFFF;
    height:100px;
    width: 100%;
}
nav ul{
    float:right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin:0 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.contact{
    display: inline-block;
    line-height: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-right:55px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:22px;
}
nav ul li a:hover{
    color:white;
}
.active{
    color:white;
    background:blue;
    transition: .5s;
    padding:6px 12px;
}
.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background: #00BFFF;
    margin-left:-1px;
}
nav ul li:hover .sub-menu-1 ul li{
    display:block;
    width:5px;
    background: transparent;
    border-radius:0;
}
nav ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
nav ul li:hover .sub-menu-1 ul li a:hover{
    color:white;
}
img{
    height:80px;
    width:80px;
    margin-top: 5px;
    margin-left: 40px;
}
footer{
    position: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#6C757D;
    color: white;
    text-align:left; 
    padding-left:30px; 
    padding-top:9px;
}
.para1{
    float:left;
    font-size:18px;
}
.linkedin{
    float:right;
    font-size:25px;
    padding-right:50px;
    color:white;
}
.github{
    float:right;
    font-size:23px; 
    padding-right:18px;
    color:white;
}
.facebook{
    float:right;
    font-size:23px; 
    padding-right:18px;
    color:white;
}
.whatsapp{
    float:right;
    font-size:23px; 
    padding-right:18px;
    color:white;
}
.insta{
    float:right;
    font-size:23px; 
    padding-right:18px;
    color:white;
}
.drop_icon{
    font-size:18px;
    color:white;
}
.drop_icon1{
    font-size:18px;
    color:white;
    margin-left:5px;
}
input[type="text"]{
    height:40px;
    width:250px;
    border:none;
}
input[type="text"]::placeholder{
    font-size:17px;
    padding-left:25px;
}
input[type="button"]{
    height:40px;
    width:100px;
    margin-left:5px;
    background:#dc143c;
    color:white;
    border:none;
    font-size:18px;
}