<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/cure/curadhd.css">
</head>

<body>

    <nav>
        <img src="/static/images/My project (1).png">
        <ul>
            <li><a href="../home.html" target="_self">Home</a></li>
            <li><a href="#">Disorders <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../disorders/disanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../disorders/disocd.html" target="_self">OCD</a></li>
                        <li><a href="../disorders/disadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Symptoms <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../symptoms/symanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../symptoms/symocd.html" target="_self">OCD</a></li>
                        <li><a href="../symptoms/" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Causes <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../causes/cauanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../causes/cauocd.html" target="_self">OCD</a></li>
                        <li><a href="../causes/cauadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Cure <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../cure/curanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../cure/curocd.html" target="_self">OCD</a></li>
                        <li><a href="../cure/curadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../contact.html" target="_self">Contact Us</a></li>
            <input type="text" placeholder="What are you looking for?"> <input type="button" value="Submit">
            
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Treatment for ADHD Disorder<hr class="myhr"> </h2> 
    <h2 class="text1">When a child is diagnosed with attention-deficit/hyperactivity disorder (ADHD), parents 
        often have concerns about which treatment is right for their child. <br> The disorder is chronic, which means 
        it lasts a long time - usually throughout adulthood.Many people with ADHD learn to manage 
        their symptoms with treatment and by developing healthy coping mechanisms. Some even find that their
        symptoms lessen as they age. ADHD can be managed with the <br> right treatment. Some treatments are given 
        below.
    </h2>
    <img class="image" src="/static/images/behaviour.jpg" align="right">
    <h3 class="text2">1) Medication <i class="fa-solid fa-suitcase-medical" id="icon"></i>
        <hr class="hr1">
    </h3> <br>
   <p class="para1">Medication can help reduce hyperactivity, impulsiveness, and inattention. Stimulants are the most commonly 
    prescribed medications for ADHD. These include drugs such as methylphenidate (Ritalin) and amphetamines 
    (Adderall). Non-stimulant medications, such as atomoxetine (Strattera), can also be effective.
    </p> 
    <h3 class="text3">2) Behaviour Therapy <i class="fa-solid fa-user-plus" id="icon1"></i>
        <hr class="hr2">
    </h3> <br>
    <p class="para1"> Behavioral therapy involves teaching children with ADHD how to improve their behavior and 
        pay attention. It can involve setting rules, providing structure, and helping them learn organizational 
        skills. Family therapy can also be helpful in managing the disorder.
    </p>
    <h3 class="text3">3) Educational Interventions <i class="fa-solid fa-user-graduate" id="icon1"></i>
        <hr class="hr3">
    </h3> <br> 
    <p class="para1">Educational interventions, such as accommodations and modifications, can also help children
         with ADHD succeed in school. These may include things like extra time for tests or assignments, being 
         allowed to take breaks, and having a quiet place to work.
    </p>
    <footer><p class="copyright">Copyright &#169 2023 | All rights reserved </p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_self">
            <ion-icon class="linkedin" name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_self">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_self">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_self">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_self">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> 
     </footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>