*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background:#00BFFF;
    height:100px;
    width: 100%;
}
nav ul{
    float:right;
    margin-right: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 26.6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.contact{
    display: inline-block;
    line-height: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-right:20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:22px;
}
nav ul li a:hover{
    color:white;
}
.active{
    color:white;
    background:blue;
    transition: .5s;
    padding: 6px 33px;
}
.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:#00BFFF;
    margin-left:-1px;
}
nav ul li:hover .sub-menu-1 ul li{
    display:block;
    width:21.5px;
    background: transparent;
    border-radius: 0;
    padding-left:1px;
}
nav ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
nav ul li:hover .sub-menu-1 ul li a:hover{
    color:white;
}
.logo{
    height:80px;
    width:80px;
    margin-top: 9px;
    margin-left: 55px;
}
.mylist{
    list-style-type: disc;
    margin-left: 105px;
    margin-top:15px;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.mylist1{
    list-style-type: disc;
    margin-left: 105px;
    margin-top:10px;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(0, 0, 0, 0.800);;
}
input[type="text"]{
    height:40px;
    width:130px;
    border:none;
    padding-left:35px;
    outline:none;
}
input[type="text"]::placeholder{
    font-size:17px;
}
#search{
    color:#fff;
    background:#dc143c;
    padding: 10.82px 12px;
    height:40.5px;
    width:70px;
    padding-left:25px;
}
.drop_icon{
    font-size:18px;
    color:white;
}
.heading{
    font-weight:normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:12px;
    padding-left:55px;
    font-size: 30px;
}
.text1{
    font-weight:normal;
    font-family: arial;
    color:rgba(0, 0, 0, 0.800);
    padding-top:18px;
    padding-left:55px;
    font-size: 21px;
}
.image{
    margin-top:40px;
    margin-right: 55px;
    height:440px;
    width:520px;
    border-radius: 30px;
}
.image1{
    margin-top:35px;
    margin-left: 45px;
    height:410px;
    width:460px;
    border-radius: 20px;
}
.text2{
    font-weight:normal;
    font-family: arial;
    color:#2F4F4F;
    padding-top:20px;
    padding-left:55px;
    font-size: 22px;
}
.myhr{
    border:1.6px solid black;
    width: 23.7%;
}
.hr1{
    border:1.2px solid #2F4F4F;
    width: 9.8%;
}
.hr2{
    border:1.2px solid #2F4F4F;
    width: 22.3%;
}
.hr3{
    border:1.2px solid #2F4F4F;
    width: 13.8%;
}
.hr4{
    border:1.2px solid #2F4F4F;
    width: 19.7%;
}
.hr5{
    border:1.2px solid #2F4F4F;
    width: 14.5%;
}
.para1{
    padding-left:50px;
    font-weight:normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    font-size:20px;
}
.para2{
    margin-left:540px;
    margin-top:20px;
    font-weight:normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    font-size:20px;
    padding-right:40px;
    margin-bottom:-10px;
}
.para3{
    margin-left:540px;
    margin-top:20px;
    font-weight:normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    font-size:20px;
    padding-right:40px;
    margin-bottom:-10px;
}
.text3{
    font-weight: normal;
    font-family: sans-serif;
    padding-top:20px;
    padding-left:50px;
    font-size:22px;
    color:#2F4F4F;
}
.text4{
    font-weight: normal;
    font-family: sans-serif;
    padding-top:40px;
    margin-left:540px;
    font-size:22px;
    color:#2F4F4F;
}
.text5{
    font-weight: normal;
    font-family: sans-serif;
    padding-top:30px;
    margin-left:540px;
    font-size:22px;
    color:#2F4F4F;
}
#icon{
    font-size:20px;
    padding-left:2px;
    color:#2F4F4F;
}
footer{
    height:410px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ebebeb;
    color: white;
    text-align:center;  
    padding-top:5px;
}
.ftext1{
    display: inline;
    font-family:arial;
    padding-top:30px;
    padding-left:200px;
    font-size:24px;
    float:left;
    color: #17a2b8;
}

.ftext2{
    font-family:arial;
    padding-top:30px;
    padding-right:200px;
    font-size:24px;
    float:right;
    color: #17a2b8;
}
#myphone{
    padding-left:10px;
}
.ftext3{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:10px;
    padding-left:180px;
    font-size:20px;
    float: left;
}
.ftext3_2{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:20px;
    padding-left:180px;
    float:left;
    font-size:20px;
}
.linkedin{
    float:right;
    font-size: 40px;
    padding-top: 5px;
    padding-right:160px;
    color:#0077b5;
}
.github{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color: #666666;
}
.facebook{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#4267B2;
}
.whatsapp{
    float:right;
    font-size:40px;
    padding-top: 5px; 
    padding-right:18px;
    color:#25D366;
}
.insta{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#C13584;
}
.ftext4{
    color:#17a2b8;
    font-weight: normal;
    font-family:arial;
    padding-top:20px;
    padding-right: 420px;
    font-size:20px;
}
input[type="text"].ftext5{
    margin-right:95px;
    margin-top:5px;
    height:40px;
    width:350px;
}
input[type="text"].ftext5::placeholder{
    padding-left:45px;
    font-size: 16px;
}
.ftext6{
    color:rgba(0, 0, 0, 0.750);
    font-weight: normal;
    font-family:arial;
    padding-top:25px;
    padding-right: 90px;
    font-size:19px;
}
input[type="button"].ftext7{
    background-image:linear-gradient( to right, #89cebe, #7bc9c2, #6ec4c6, #63bfca, #5bb9ce, #4fb4d2, #47afd6, #43a9da, #38a3df, #359de4, #3b96e7, #488ee9 );
    width:150px;
    height:40px;
    color:#fff;
    border:none;
    border-radius:5px;
    margin-right:120px;
    font-size:17px;
}
.bottomhr{
    border:0.2px solid lightgrey;
}
.ftext8{
    font-weight:normal;
    font-family: monospace;
    font-size:20px;
    padding-top:7px;
    padding-right:100px;
    color:#17a2b8;
}
#myImg{
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.9;}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
  }
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    height: 470px;
    border-radius: 20px;
  }
.modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: darkgray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* Respnosiveness */

/* for nest hub max*/
@media (max-device-width : 1316px){
    nav{
        height:180px;
        width:100%;
    }
    nav ul{
        margin-right:75px;
    }
    nav ul li{
        margin:0 17px;
    }
    nav ul li a{
        font-size:21px;
    }
    .logo{
        height:140px;
        width:140px;
        margin-top: 20px;
        margin-left: 35px;
    }
    .contact{
        line-height: 170px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:19px;
    }
    .active{
        padding: 6px 12px;
    }
    .drop_icon{
        font-size:16px;
    }
    .text1{
        font-size: 20px;
        padding-right:30px;
    }
    .image{
        margin-top:20px;
        margin-right: 55px;
        height:440px;
        width:480px;
        border-radius: 30px;
    }
    .image1{
        margin-top:75px;
        margin-left: 45px;
        height:440px;
        width:460px;
        border-radius: 20px;
    }
    .text2{
        font-size: 21.5px;
    }
    .myhr{
        width: 28%;
    }
    .hr1{
        width: 11.3%;
    }
    .hr2{
        width: 25.8%;
    }
    .hr3{
        width: 15.6%;
    }
    .hr4{
        width: 24.7%;
    }
    .hr5{
        width: 17.7%;
    }
    .text3{
        font-size:21.5px;
    }
    .text4{
        font-size:21.5px;
    }
    .text5{
        padding-top:30px;
        font-size:21.5px;
    }
}
/* for nest hub */
@media (max-device-width : 1024px){
    nav{
        height:140px;
        width:100%;
    }
    nav ul{
        margin-right:60px;
    }
    nav ul li{
        margin:0 12px;
    }
    nav ul li a{
        font-size:17px;
    }
    .logo{
        height:100px;
        width:100px;
        margin-top: 20px;
        margin-left: 25px;
    }
    .contact{
        line-height: 135px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:19px;
    }
    .active{
        padding: 6px 12px;
    }
    .drop_icon{
        font-size:13px;
    }
    hr{
        width:100%;
    }
    .heading{
        font-size: 25px;
    }
    .text1{
        font-size: 19px;
    }
    .image{
        height:420px;
        width:440px;
    }
    .image1{
        margin-top:35px;
        margin-left: 45px;
        height:410px;
        width:420px;
        border-radius: 20px;
    }
    .text2{
        font-size: 20px;
    }
    .myhr{
        width: 29.7%;
    }
    .hr1{
        width: 13.5%;
    }
    .hr2{
        width: 30.2%;
    }
    .hr3{
        width: 18.6%;
    }
    .hr4{
        width: 32.2%;
    }
    .hr5{
        width: 12.8%;
    }
    .para1{
        font-size:19px;
    }
    .para2{
        margin-left:490px;
        font-size:19px;
        padding-right:40px;
    }
    .para3{
        margin-left:50px;
        font-size:19px;
        margin-bottom:-20px;
    }
    .text3{
        font-size:20px;
    }
    .text4{
        margin-top:30px;
        margin-left:490px;
        font-size:20px;
    }
    .text5{
        margin-left:50px;
        font-size:20px;
        margin-top:50px;
    }
    .mylist{
        font-size:18.5px;
    }
    .mylist1{
        font-size:18.5px;
    }
    .modal-content{
        margin-top: 5px;
        width: 65%;
        height: 320px;
    }
    footer{
        height:420px;
        width: 100%;
        text-align:center;  
        padding-top:5px;
    }
    .ftext1{
        margin-top: 1px;
        padding-left:155px;
        font-size:22px;
    }
    .ftext2{
        margin-top: 1px;
        padding-right:155px;
        font-size:22px;
    }
    #myphone{
        margin-left:-60px;
        font-size: 25px;
    }
    .ftext3{
        padding-top:1px;
        padding-left:180px;
        font-size:21px;
    }
    .ftext3_2{
        padding-top:1px;
        padding-left:180px;
        font-size:21px;
    }
    .github{
        font-size:25px; 
        padding-top: 5px;
        padding-right:75px;
        
    }
    .linkedin{
        font-size: 25px;
        padding-top: 5px;
        padding-right:135px;
    }
    .facebook{
        font-size:25px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .whatsapp{
        font-size:25px;
        padding-top: 5px; 
        padding-right:25px;
    }
    .insta{
        font-size:25px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .ftext4{
        padding-right: 50px;
        font-size:19px;
        padding-top:50px;
    }
    input[type="text"].ftext5{
        margin-right:55px;
        margin-top:1px;
        height:40px;
        width:320px;
    }
    input[type="text"].ftext5::placeholder{
        padding-left:50px;
        font-size: 16px;
    }
    .ftext6{
        padding-right: 70px;
        font-size:20px;
    }
    input[type="button"].ftext7{
        width:120px;
        height:40px;
        margin-right:60px;
        font-size:17px;
        margin-bottom: -15px;
    }
    .ftext8{
        font-size:20px;
        padding-top:7px;
        padding-right:60px;
    }
    .bottomhr{
        width:100%;
    }
}
/* for ipad air */
@media only screen and (max-device-width : 820px) and (max-device-height:1180px){
    nav{
        height:165px;
        width:100%;
    }
    nav ul{
        margin-right:90px;
        margin-left:20px;
    }
    nav ul li{
        line-height:80px;
        margin:0 27.5px;
    }
    nav ul li a{
        font-size:22.5px;
    }
    .logo{
        display:none;
    }
    .contact{
        line-height: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:20px;
        margin-left: 140px;
    }
    .active{
        padding: 6px 8px;
    }
    .drop_icon{
        font-size:15px;
    }
    hr{
        width:100%;
    }
    .heading{
        font-size: 26px;
    }
    .myhr{
        width: 38.9%;
    }
    .hr1{
        width:18.5%;
    }
    .hr2{
        width:14.9%;
    }
    .hr3{
        width:26.2%;
    }
    .hr4{
        width:22.6%;
    }
    .hr5{
        width:16%;
    }
    .text1{
        font-size: 20px;
    }
    .text2{
        padding-top:45px;
        font-size: 22.5px;
    }
    .text3{
        font-size: 22.5px;
        padding-top: 40px;
    }
    .text4{
        padding-top:450px;
        margin-left:55px;
    }
    .text5{
        padding-top:4px;
        margin-left:55px;
    }
    .image{
        margin-top:25px;
        margin-right: 50px;
        height:380px;
        width:420px;
        margin-bottom:30px;
    }
    .image1{
        margin-top:45px;
        margin-left: 170px;
        height:400px;
        width:460px;
        margin-bottom:30px;
    }
    .para1{
        font-size:20px;
        padding-right:40px;
    }
    .para2{
        font-size:20px;
        padding-right:40px;
        margin-left:55px;
    }
    .para3{
        font-size:20px;
        padding-right:40px;
        margin-left:55px;
    }
    .mylist{
        font-size:20px;
        padding-right:40px;
    }
    .mylist1{
        font-size:20px;
        padding-right:40px;
    }
    .modal-content {
        margin-top: 170px;
        width: 75%;
        height: 570px;
    }
    footer{
        height:425px;
        width: 100%;
        text-align:center;  
        padding-top:5px;
    }
    .ftext1{
        padding-top:25px;
        padding-left:105px;
        font-size:24px;
    }
    .ftext2{
        padding-top:25px;
        padding-right:105px;
        font-size:24px;
    }
    #myphone{
        margin-left:-110px;
        font-size: 28px;
    }
    .ftext3{
        padding-top:1px;
        padding-left:180px;
        font-size:22.5px;
    }
    .ftext3_2{
        padding-top:1px;
        padding-left:180px;
        font-size:22.5px;
    }
    .github{
        font-size:28px; 
        padding-top: 5px;
        padding-right:125px;
        
    }
    .linkedin{
        font-size: 28px;
        padding-top: 5px;
        padding-right:80px;
    }
    .facebook{
        font-size:28px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .whatsapp{
        font-size:28px;
        padding-top: 5px; 
        padding-right:25px;
    }
    .insta{
        font-size:28px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .ftext4{
        padding-top:60px;
        padding-right: 15px;
        font-size:19px;
    }
    input[type="text"].ftext5{
        margin-right:25px;
        margin-top:1px;
        height:40px;
        width:340px;
    }
    input[type="text"].ftext5::placeholder{
        padding-left:40px;
        font-size: 16.6px;
    }
    .ftext6{
        padding-top:15px;
        padding-right: 30px;
        font-size:18px;
    }
    input[type="button"].ftext7{
        width:100px;
        height:40px;
        margin-right:40px;
        font-size:15px;
        margin-bottom: -15px;
    }
    .ftext8{
        font-size:22px;
        padding-top:7px;
        padding-right:40px;
    }
    .bottomhr{
        width:100%;
    }
}
/* for iphone SE */
@media only screen and (max-device-width : 375px) and (max-device-height:667px){
    nav{
        height:110px;
        width:100%;
    }
    nav ul{
        margin-right:45px;
        margin-left:10px;
    }
    nav ul li{
        margin:0 7px;
        line-height:50px;
    }
    nav ul li a{
        font-size:12.2px;

    }
    .logo{
        display:none;
    }
    .contact{
        line-height: 20px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:10px;
        margin-left:45px;
    }
    .active{
        padding: 4px 4px;
    }
    .drop_icon{
        font-size:10px;
    }
    hr{
        height:7px;
        width:100%;
    }
    #icon{
        font-size:16px;
    }
    .heading{
        margin-left:15px;
        font-size: 19px;
    }
    .myhr{
        height:0.6px;
        width: 71%;
    }
    .hr1{
        height:0.6px;
        width:34.5%;
    }
    .hr2{
        height:0.6px;
        width:77.9%;
    }
    .hr3{
        height:0.6px;
        width:47.5%;
    }
    .hr4{
        height:0.6px;
        width:46%;
    }
    .hr5{
        height:0.6px;
        width:32.9%;
    }
    .text1{
        padding-left:40px;
        font-size: 14px;
    }
    .text2{
        margin-top:5px;
        font-size: 17px;
    }
    .text3{
        font-size: 17px;
        padding-top: 20px;
    }
    .text4{
        padding-top:240px;
        margin-left:55px;
        font-size: 17px;
    }
    .text5{
        margin-top:30px;
        font-size:17px;
    }
    .image{
        margin-top:25px;
        margin-right: 55px;
        height:200px;
        width:270px;
        margin-bottom:30px;
    }
    .image1{
        margin-top:35px;
        margin-left: 50px;
        height:200px;
        width:270px;
        margin-bottom:30px;
    }
    .para1{
        font-size:15px;
        padding-right:40px;
    }
    .para2{
        font-size:15px;
        padding-right:40px;
    }
    .para3{
        font-size:15px;
        padding-right:40px;
        margin-bottom:-30px;
    }
    .mylist{
        margin-left:80px;
        font-size:14px;
        padding-right:40px;
    }
    .mylist1{
        margin-left:80px;
        font-size:14px;
        padding-right:40px;
    }
    .modal-content {
        margin-top: 65px;
        width: 75%;
        height: 230px;
    }
    footer{
        height:385px;
        width: 100%;
        text-align:center;  
        padding-top:5px;
    }
    .ftext1{
        padding-top:35px;
        padding-left:30px;
        font-size:18px;
    }
    .ftext2{
        padding-top:35px;
        padding-right:30px;
        font-size:18px;
    }
    #myphone{
        margin-left:-230px;
        font-size: 18px;
    }
    .ftext3{
        padding-top:1px;
        padding-left:180px;
        font-size:16px;
    }
    .ftext3_2{
        padding-top:1px;
        padding-left:180px;
        font-size:16px;
    }
    .github{
        font-size:18px; 
        padding-top: 5px;
        padding-right:60px;
        
    }
    .linkedin{
        font-size: 18px;
        padding-top: 5px;
        padding-right:25px;
    }
    .facebook{
        font-size:18px; 
        padding-top: 5px;
        padding-right:15px;
    }
    .whatsapp{
        font-size:18px;
        padding-top: 5px; 
        padding-right:15px;
    }
    .insta{
        font-size:18px; 
        padding-top: 5px;
        padding-right:15px;
    }
    .ftext4{
        padding-top:40px;
        padding-right: 10px;
        font-size:15px;
    }
    input[type="text"].ftext5{
        margin-right:10px;
        margin-top:1px;
        height:40px;
        width:250px;
    }
    input[type="text"].ftext5::placeholder{
        padding-left:10px;
        font-size: 14px;
    }
    .ftext6{
        padding-top:15px;
        padding-right: 10px;
        font-size:14.5px;
    }
    input[type="button"].ftext7{
        width:80px;
        height:40px;
        margin-right:30px;
        font-size:13px;
        margin-bottom: -15px;
    }
    .ftext8{
        font-size:15.5px;
        padding-top:7px;
        padding-right:5px;
    }
    .bottomhr{
        width:100%;
        height:0;
    }
}