*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background:#00BFFF;
    height:100px;
    width: 100%;
}
nav ul{
    float:right;
    margin-right: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 29.5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.contact{
    display: inline-block;
    line-height: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-right:20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:22px;
}
nav ul li a:hover{
    color:white;
}
.active{
    color:white;
    background:blue;
    transition: .5s;
    padding: 6px 12px;
}
.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:#00BFFF;
    margin-left:-1px;
}
nav ul li:hover .sub-menu-1 ul li{
    display:block;
    width:20px;
    background: transparent;
    border-radius: 0;
    padding-left:0;
}
nav ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
nav ul li:hover .sub-menu-1 ul li a:hover{
    color:white;
}
img{
    height:80px;
    width:80px;
    margin-top: 9px;
    margin-left: 55px;
}
.icon{
    font-size:28px;
    color:white;
    float:right;
    padding-left:100px;
}
.drop_icon{
    font-size:18px;
    color:white;
}
.background_image{
    height:635px;
    width:1519px;
    padding: 0;
    margin: 0;
}
input[type="text"]{
    height:40px;
    width:130px;
    border:none;
    padding-left:35px;
    outline:none;
}
input[type="text"]::placeholder{
    font-size:17px;
}
#search{
    color:#fff;
    background:#dc143c;
    padding: 10.82px 12px;
    height:40.5px;
    width:70px;
    padding-left:25px;
}
.nav_but{
    height:42px;
    width:40px;
    background:white;
    color:black;
    border:none;
    margin-left:4px;
    font-size:18px;
}
.text{
    text-align:center;
    color:#2a2b40;
    font-weight:bold;
    font-family:sans-serif;
    font-size:30px;
    padding-top:20px;
}
.therapy_image{
    margin-top: 30px;
    margin-left:70px;
    height:390px;
    width:550px;
    border-radius:30px;
}
.text1{
    font-weight: normal;
    font-family: arial;
    font-style: normal;
    padding-top: 105px;
    padding-left:660px;
    font-size:20px;
    color:rgba(0, 0, 0, 0.750); 
}
.text2{
    font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
    font-size:30px;
    color:black;
    text-align: center;
    padding-top:30px;
}
.mytext{
    text-align:center;
    color:#2a2b40;
    font-weight:bold;
    font-family:sans-serif;
    font-size:30px;
    padding-top:30px;
}
.card{
    display:inline-block;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:24%;
    margin-top:40px;
    margin-left:100px;
    background-color:white;
    border-radius: 20px;
}
.card:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}
.card_image1{
    padding:0;
    margin:0;
    height:250px;
    width:365.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card_image2{
    padding:0;
    margin:0;
    height:250px;
    width:365.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card_image3{
    padding:0;
    margin:0;
    height:250px;
    width:365.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card_text1{
    font-weight:500;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 20px;
    padding-top:10px;
    text-decoration: underline;
}
.card_text2{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:14px;
    padding-top:15px;
    color:rgb(107, 107, 107);
}
.data{
    background-image: linear-gradient(51deg, #d2fffc -1%, #ffe9e2 101%);
}
.data1{
    background-color: #f8f8ff;
}
#myImg{
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.9;}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
  }
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    height: 470px;
  }
.modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: darkgray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#myImg1{
    cursor: pointer;
    transition: 0.3s;
}
#myImg1:hover {opacity: 0.9;}
.modal1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
  }
.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    height: 470px;
  }
.modal-content1{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.close1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: darkgray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close1:hover,.close1:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#myImg2{
    cursor: pointer;
    transition: 0.3s;
}
#myImg2:hover {opacity: 0.9;}
.modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
  }
.modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    height: 470px;
  }
.modal-content2{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: darkgray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close2:hover,.close2:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#myImg3{
    cursor: pointer;
    transition: 0.3s;
}
#myImg3:hover {opacity: 0.9;}
.modal3 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
  }
.modal-content3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    height: 470px;
    border-radius: 20px;
  }
.modal-content3{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: darkgray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close3:hover,.close3:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.counsellor_image1{
    display: inline;
    margin-left:380px;
    margin-top:40px;
    height:200px;
    width:200px;
}
.counsellor_image2{
    display: inline;
    margin-left:70px;
    height:200px;
    width:200px;
}
.counsellor_image3{
    display: inline;
    margin-left:70px;
    height:200px;
    width:200px;
}
.text3{
    font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
    font-size:26px;
    color:#4169E1;
    padding-left: 100px;
    padding-top:35px;
    text-decoration: underline;
}
.text4{
    font-weight: normal;
    font-family: sans-serif;
    font-style: normal;
    padding-top: 15px;
    padding-left:100px;
    font-size:21px;
    color:rgba(0, 0, 0, 0.750); 
}
.counsellor_but{
    height:50px;
    width:160px;
    margin-left:90px;
    background-image:linear-gradient( to right, #89cebe, #7bc9c2, #6ec4c6, #63bfca, #5bb9ce, #4fb4d2, #47afd6, #43a9da, #38a3df, #359de4, #3b96e7, #488ee9 );
    color:white;
    border:none;
    font-size:18px;
    border-radius: 50px;
    cursor: pointer;
}
footer{
    height:410px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ebebeb;
    color: white;
    text-align:center;  
    padding-top:5px;
}
.ftext1{
    display: inline;
    font-family:arial;
    padding-top:30px;
    padding-left:200px;
    font-size:24px;
    float:left;
    color: #17a2b8;
}

.ftext2{
    font-family:arial;
    padding-top:30px;
    padding-right:200px;
    font-size:24px;
    float:right;
    color: #17a2b8;
}
#myphone{
    padding-left:10px;
}
.ftext3{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:10px;
    padding-left:180px;
    font-size:20px;
    float: left;
}
.ftext3_2{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:20px;
    padding-left:180px;
    float:left;
    font-size:20px;
}
.linkedin{
    float:right;
    font-size: 40px;
    padding-top: 5px;
    padding-right:160px;
    color:#0077b5;
}
.github{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color: #666666;
}
.facebook{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#4267B2;
}
.whatsapp{
    float:right;
    font-size:40px;
    padding-top: 5px; 
    padding-right:18px;
    color:#25D366;
}
.insta{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#C13584;
}
.ftext4{
    color:#17a2b8;
    font-weight: normal;
    font-family:arial;
    padding-top:20px;
    padding-right: 420px;
    font-size:20px;
}
input[type="text"].ftext5{
    margin-right:95px;
    margin-top:5px;
    height:40px;
    width:350px;
}
input[type="text"].ftext5::placeholder{
    padding-left:45px;
    font-size: 16px;
}
.ftext6{
    color:rgba(0, 0, 0, 0.750);
    font-weight: normal;
    font-family:arial;
    padding-top:25px;
    padding-right: 130px;
    font-size:19px;
}
input[type="button"].ftext7{
    background-image:linear-gradient( to right, #89cebe, #7bc9c2, #6ec4c6, #63bfca, #5bb9ce, #4fb4d2, #47afd6, #43a9da, #38a3df, #359de4, #3b96e7, #488ee9 );
    width:150px;
    height:40px;
    color:#fff;
    border:none;
    border-radius:5px;
    margin-right:120px;
    font-size:17px;
}
.bottomhr{
    border:0.2px solid lightgrey;
}
.ftext8{
    font-weight:normal;
    font-family: monospace;
    font-size:20px;
    padding-top:7px;
    padding-right:100px;
    color:#17a2b8;
}
#more {
    display: none;
}
.demo{
    color:brown;
}
.demo:hover{
    color:purple;
}

/* Respnosiveness */

/* for nest hub max*/
@media (max-device-width : 1316px){
    nav{
        height:180px;
        width:100%;
    }
    nav ul{
        margin-right:75px;
    }
    nav ul li{
        margin:0 17px;
    }
    nav ul li a{
        font-size:21px;
    }
    img{
        height:140px;
        width:140px;
        margin-top: 20px;
        margin-left: 35px;
    }
    .contact{
        line-height: 170px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:19px;
    }
    .active{
        padding: 6px 12px;
    }
    .sub-menu-1{
        display:none;
    }
    nav ul li:hover .sub-menu-1{
        display:block;
        position:absolute;
        background:#00BFFF;
        margin-left:-1px;
    }
    nav ul li:hover .sub-menu-1 ul li{
        display:block;
        height: 60px;
        background: transparent;
        border-radius: 0;
        padding-left:-1px;
    }
    .drop_icon{
        font-size:13px;
    }
    hr{
        width:100%;
    
    }
    .background_image{
        height:610px;
        width:100%;
        padding: 0;
        margin: 0;
    }
    .therapy_image{
        margin-top:38px;
        margin-left:60px;
        height:450px;
        width:580px;
    }
    .text{
        text-align: center;
        font-size:29px;
        padding-top:20px;
    }
    .text1{
        padding-top: 100px;
        padding-left:660px;
        font-size:20px; 
    }
    .card{
        display:inline-block;
        width:25.3%;
        margin-left:75px;
    }
    .card_image1{
        height:230px;
        width:325px;
    }
    .card_image2{
        height:250px;
        width:324.5px;
    }
    .card_image3{
        height:250px;
        width:325px;
    }
    .card_text1{
        font-size: 22px;
        padding-top:18px;
        text-decoration: underline;
    }
    .card_text2{
        font-size:17px;
        padding-top:15px;
    }
    .mytext{
        text-align:center;
        font-size:28px;
    }
    .data{
        width:100%;
    }
    .data1{
        width:100%;
    }
    .counsellor_image1{
        display: inline;
        margin-left:270px;
        margin-top:40px;
        height:200px;
        width:200px;
    }
    .counsellor_image2{
        display: inline;
        margin-left:60px;
        margin-top:40px;
        height:200px;
        width:200px;
    }
    .counsellor_image3{
        display: inline;
        margin-left:60px;
        margin-top:40px;
        height:200px;
        width:200px;
    }
    .text3{
        font-size:23px;
        padding-left: 65px;
        padding-top:35px;
    }
    .text4{
        padding-top: 15px;
        padding-left:65px;
        font-size:20px;
    }
    .counsellor_but{
        height:50px;
        width:140px;
        margin-left:50px;
        font-size:18px;
    }
    footer{
        height:380px;
        width: 100%;
        text-align:center;  
        padding-top:5px;
    }
    .ftext1{
        padding-top:25px;
        padding-left:155px;
        font-size:28px;
    }
    .ftext2{
        padding-top:25px;
        padding-right:155px;
        font-size:28px;
    }
    #myphone{
        margin-left:-48px;
        font-size: 30px;
    }
    .ftext3{
        padding-top:1px;
        padding-left:180px;
        font-size:23px;
    }
    .ftext3_2{
        padding-top:1px;
        padding-left:180px;
        font-size:23px;
    }
    .github{
        font-size:30px; 
        padding-top: 5px;
        padding-right:55px;
        
    }
    .linkedin{
        font-size: 40px;
        padding-top: 5px;
        padding-right:150px;
    }
    .facebook{
        font-size:30px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .whatsapp{
        font-size:30px;
        padding-top: 5px; 
        padding-right:25px;
    }
    .insta{
        font-size:30px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .ftext4{
        padding-top:10px;
        padding-right: 360px;
        font-size:22px;
    }
    input[type="text"].ftext5{
        margin-right:65px;
        margin-top:1px;
        height:40px;
        width:390px;
    }
    input[type="text"].ftext5::placeholder{
        padding-left:70px;
        font-size: 16px;
    }
    .ftext6{
        padding-top:15px;
        padding-right: 70px;
        font-size:20px;
    }
    input[type="button"].ftext7{
        width:140px;
        height:40px;
        margin-right:80px;
        font-size:17px;
        margin-bottom: -15px;
    }
    .ftext8{
        font-size:24px;
        padding-top:7px;
        padding-right:80px;
    }
    .bottomhr{
        width:100%;
    }
}
/* for nest hub */
@media (max-device-width : 1024px){
    nav{
        height:140px;
        width:100%;
    }
    nav ul{
        margin-right:60px;
    }
    nav ul li{
        margin:0 12px;
    }
    nav ul li a{
        font-size:17px;
    }
    img{
        height:100px;
        width:100px;
        margin-top: 20px;
        margin-left: 25px;
    }
    .contact{
        line-height: 135px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:19px;
    }
    .active{
        padding: 6px 12px;
    }
    .sub-menu-1{
        display:none;
    }
    nav ul li:hover .sub-menu-1{
        display:block;
        position:absolute;
        background:#00BFFF;
        margin-left:-1px;
    }
    nav ul li:hover .sub-menu-1 ul li{
        display:block;
        height: 60px;
        background: transparent;
        border-radius: 0;
        padding-left:-1px;
    }
    .drop_icon{
        font-size:13px;
    }
    hr{
        width:100%;
    
    }
    .background_image{
        height:450px;
        width:100%;
        padding: 0;
        margin: 0;
    }
    .therapy_image{
        margin-top:38px;
        margin-left:50px;
        height:420px;
        width:450px;
    }
    .text{
        text-align: center;
        font-size:27px;
        padding-top:20px;
    }
    .text1{
        padding-top: 80px;
        padding-left:525px;
        font-size:17.5px; 
    }
    .card{
        display:inline-block;
        width:25.3%;
        margin-left:60px;
    }
    .card_image1{
        height:200px;
        width:260px;
        margin-top: -15px;
        margin-bottom: 5px;
    }
    .card_image2{
        height:180px;
        width:260px;
    }
    .card_image3{
        height:180px;
        width:260px;
    }
    .card_text1{
        font-size: 21px;
        padding-top:18px;
    }
    .card_text2{
        font-size:16px;
        padding-top:15px;
    }
    .mytext{
        text-align:center;
        font-size:27px;
    }
    .data{
        width:100%;
    }
    .data1{
        width:100%;
    }
    .counsellor_image1{
        display: inline;
        margin-left:190px;
        margin-top:40px;
        height:180px;
        width:180px;
    }
    .counsellor_image2{
        display: inline;
        margin-left:60px;
        margin-top:40px;
        height:180px;
        width:180px;
    }
    .counsellor_image3{
        display: inline;
        margin-left:60px;
        margin-top:40px;
        height:180px;
        width:180px;
    }
    .text3{
        font-size:22px;
        padding-left: 55px;
    }
    .text4{
        padding-left:55px;
        font-size:20px;
    }
    .counsellor_but{
        height:50px;
        width:140px;
        margin-left:45px;
        font-size:18px;
    }
    .modal-content {
        margin-top: 5px;
        width: 59%;
        height: 320px;
    }
    .modal-content1 {
        margin-top: 5px;
        width: 59%;
        height: 320px;
    }
    .modal-content2 {
        margin-top: 5px;
        width: 59%;
        height: 320px;
    }
    .modal-content3 {
        margin-top: 5px;
        width: 65%;
        height: 320px;
    }
    footer{
        height:370px;
        width: 100%;
        text-align:center;  
        padding-top:5px;
    }
    .ftext1{
        padding-left:155px;
        font-size:22px;
    }
    .ftext2{
        padding-right:155px;
        font-size:22px;
    }
    #myphone{
        margin-left:-60px;
        font-size: 25px;
    }
    .ftext3{
        padding-top:1px;
        padding-left:180px;
        font-size:21px;
    }
    .ftext3_2{
        padding-top:1px;
        padding-left:180px;
        font-size:21px;
    }
    .github{
        font-size:25px; 
        padding-top: 5px;
        padding-right:75px;
        
    }
    .linkedin{
        font-size: 25px;
        padding-top: 5px;
        padding-right:135px;
    }
    .facebook{
        font-size:25px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .whatsapp{
        font-size:25px;
        padding-top: 5px; 
        padding-right:25px;
    }
    .insta{
        font-size:25px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .ftext4{
        padding-right: 350px;
        font-size:19px;
    }
    input[type="text"].ftext5{
        margin-right:75px;
        margin-top:1px;
        height:40px;
        width:320px;
    }
    input[type="text"].ftext5::placeholder{
        padding-left:30px;
        font-size: 16px;
    }
    .ftext6{
        padding-right: 70px;
        font-size:20px;
    }
    input[type="button"].ftext7{
        width:120px;
        height:40px;
        margin-right:80px;
        font-size:17px;
        margin-bottom: -15px;
    }
    .ftext8{
        font-size:20px;
        padding-top:7px;
        padding-right:80px;
    }
    .bottomhr{
        width:100%;
    }
}
/* for ipad air */
@media (max-device-width : 820px) and (max-device-height:1180px){
    nav{
        height:140px;
        width:100%;
    }
    nav ul{
        margin-right:55px;
    }
    nav ul li{
        margin:0 6px;
    }
    nav ul li a{
        font-size:15px;
    }
    img{
        height:80px;
        width:80px;
        margin-top: 30px;
        margin-left: 25px;
    }
    .contact{
        line-height: 140px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:9px;
    }
    .active{
        padding: 6px 8px;
    }
    .sub-menu-1{
        display:none;
    }
    nav ul li:hover .sub-menu-1{
        display:block;
        position:absolute;
        background:#00BFFF;
        margin-left:-1px;
    }
    nav ul li:hover .sub-menu-1 ul li{
        display:block;
        height: 60px;
        background: transparent;
        border-radius: 0;
        padding-left:-1px;
    }
    .drop_icon{
        font-size:13px;
    }
    hr{
        width:100%;
    }
    .background_image{
        height:480px;
        width:100%;
        padding: 0;
        margin: 0;
    }
    .therapy_image{
        margin-top:38px;
        margin-left:40px;
        height:420px;
        width:370px;
    }
    .text{
        text-align: center;
        font-size:26px;
        padding-top:20px;
    }
    .text1{
        padding-top: 80px;
        padding-left:430px;
        font-size:16px; 
    }
    .card{
        display:inline-block;
        width:25.5%;
        margin-left:45px;
    }
    .card_image1{
        height:158px;
        width:210px;
        margin-bottom:-1px;
    }
    .card_image2{
        height:150px;
        width:210px;
    }
    .card_image3{
        height:150px;
        width:210px;
    }
    .card_text1{
        font-size: 19px;
        padding-top:18px;
    }
    .card_text2{
        font-size:16px;
        padding-top:15px;
    }
    .mytext{
        text-align:center;
        font-size:26px;
    }
    .data{
        width:100%;
    }
    .data1{
        width:100%;
    }
    .counsellor_image1{
        display: inline;
        margin-left:120px;
        margin-top:40px;
        height:150px;
        width:150px;
    }
    .counsellor_image2{
        display: inline;
        margin-left:60px;
        margin-top:40px;
        height:150px;
        width:150px;
    }
    .counsellor_image3{
        display: inline;
        margin-left:60px;
        margin-top:40px;
        height:150px;
        width:150px;
    }
    .text3{
        font-size:23px;
        padding-left: 45px;
        padding-top:35px;
    }
    .text4{
        padding-top: 15px;
        padding-left:45px;
        font-size:19px;
    }
    .counsellor_but{
        height:50px;
        width:140px;
        margin-left:35px;
        font-size:18px;
    }
    .modal-content {
        margin-top: 170px;
        width: 75%;
        height: 570px;
    }
    .modal-content1 {
        margin-top: 170px;
        width: 75%;
        height: 570px;
    }
    .modal-content2 {
        margin-top: 170px;
        width: 75%;
        height: 570px;
    }
    .modal-content3 {
        margin-top: 170px;
        width: 75%;
        height: 570px;
    }
    footer{
        height:395px;
        width: 100%;
        text-align:center;  
        padding-top:5px;
    }
    .ftext1{
        padding-top:25px;
        padding-left:105px;
        font-size:24px;
    }
    .ftext2{
        padding-top:25px;
        padding-right:105px;
        font-size:24px;
    }
    #myphone{
        margin-left:-110px;
        font-size: 28px;
    }
    .ftext3{
        padding-top:1px;
        padding-left:180px;
        font-size:22.5px;
    }
    .ftext3_2{
        padding-top:1px;
        padding-left:180px;
        font-size:22.5px;
    }
    .github{
        font-size:28px; 
        padding-top: 5px;
        padding-right:125px;
        
    }
    .linkedin{
        font-size: 28px;
        padding-top: 5px;
        padding-right:80px;
    }
    .facebook{
        font-size:28px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .whatsapp{
        font-size:28px;
        padding-top: 5px; 
        padding-right:25px;
    }
    .insta{
        font-size:28px; 
        padding-top: 5px;
        padding-right:25px;
    }
    .ftext4{
        padding-top:10px;
        padding-right: 310px;
        font-size:19px;
    }
    input[type="text"].ftext5{
        margin-right:65px;
        margin-top:1px;
        height:40px;
        width:230px;
    }
    input[type="text"].ftext5::placeholder{
        padding-left:5px;
        font-size: 14px;
    }
    .ftext6{
        padding-top:15px;
        padding-right: 70px;
        font-size:18px;
    }
    input[type="button"].ftext7{
        width:100px;
        height:40px;
        margin-right:80px;
        font-size:15px;
        margin-bottom: -15px;
    }
    .ftext8{
        font-size:22px;
        padding-top:7px;
        padding-right:80px;
    }
    .bottomhr{
        width:100%;
    }
}
/* for iphone SE */
@media (max-device-width : 375px) and (max-device-height:667px){
    nav{
        height:80px;
        width:100%;
    }
    nav ul{
        margin-right:16px;
    }
    nav ul li{
        margin:0 1px;
    }
    nav ul li a{
        font-size:7.2px;
    }
    img{
        height:50px;
        width:50px;
        margin-top: 15px;
        margin-left:10px;
    }
    .contact{
        line-height: 20px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:2px;
    }
    .active{
        padding: 4px 4px;
    }
    .sub-menu-1{
        display:none;
    }
    nav ul li:hover .sub-menu-1{
        display:block;
        position:absolute;
        background:#00BFFF;
        margin-left:-1px;
    }
    nav ul li:hover .sub-menu-1 ul li{
        display:block;
        height: 50px;
        background: transparent;
        border-radius: 0;
        padding-left:-1px;
    }
    .drop_icon{
        font-size:6px;
    }
    hr{
        height:7px;
        width:100%;
    }
    .background_image{
        height:240px;
        width:100%;
        padding: 0;
        margin: 0;
    }
    .therapy_image{
        margin-top:20px;
        margin-left:65px;
        height:200px;
        width:240px;
    }
    .text{
        text-align: center;
        font-size:18px;
        padding-top:15px;
    }
    .text1{
        padding-top:200px;
        margin-top:40px;
        padding-left:20px;
        font-size:13px; 
        margin-bottom: -70px;
    }
    .card{
        display:block;
        width:70.5%;
        margin-left:55px;
    }
    .card_image1{
        height:130px;
        width:265px;
    }
    .card_image2{
        height:150px;
        width:265px;
    }
    .card_image3{
        height:150px;
        width:265px;
    }
    .card_text1{
        font-size: 16px;
        padding-top:10px;
    }
    .card_text2{
        font-size:14px;
        padding-top:15px;
    }
    .mytext{
        text-align:center;
        font-size:18px;
    }
    .data{
        width:100%;
        margin-bottom: -40px;
    }
    .data1{
        width:100%;
    }
    .counsellor_image1{
        display: block;
        margin-left:120px;
        margin-top:30px;
        height:120px;
        width:120px;
    }
    .counsellor_image2{
        margin-left:120px;
        margin-top:40px;
        height:120px;
        width:120px;
    }
    .counsellor_image3{
        margin-left:120px;
        margin-top:40px;
        height:120px;
        width:120px;
    }
    .text3{
        font-size:18px;
        padding-left: 30px;
        padding-top:25px;
    }
    .text4{
        padding-top: 15px;
        padding-left:30px;
        font-size:17px;
    }
    .counsellor_but{
        height:50px;
        width:120px;
        margin-left:20px;
        font-size:16px;
    }
    .modal-content {
        margin-top: 65px;
        width: 75%;
        height: 230px;
    }
    .modal-content1 {
        margin-top: 65px;
        width: 75%;
        height: 230px;
    }
    .modal-content2 {
        margin-top: 65px;
        width: 75%;
        height: 230px;
    }
    .modal-content3 {
        margin-top: 65px;
        width: 75%;
        height: 230px;
    }
    .text2{
        font-size:20px;
        padding-top:20px;
    }
    footer{
        height:385px;
        width: 100%;
        text-align:center;  
        padding-top:5px;
    }
    .ftext1{
        padding-top:35px;
        padding-left:30px;
        font-size:18px;
    }
    .ftext2{
        padding-top:35px;
        padding-right:30px;
        font-size:18px;
    }
    #myphone{
        margin-left:-230px;
        font-size: 18px;
    }
    .ftext3{
        padding-top:1px;
        padding-left:180px;
        font-size:16px;
    }
    .ftext3_2{
        padding-top:1px;
        padding-left:180px;
        font-size:16px;
    }
    .github{
        font-size:18px; 
        padding-top: 5px;
        padding-right:60px;
        
    }
    .linkedin{
        font-size: 18px;
        padding-top: 5px;
        padding-right:25px;
    }
    .facebook{
        font-size:18px; 
        padding-top: 5px;
        padding-right:15px;
    }
    .whatsapp{
        font-size:18px;
        padding-top: 5px; 
        padding-right:15px;
    }
    .insta{
        font-size:18px; 
        padding-top: 5px;
        padding-right:15px;
    }
    .ftext4{
        padding-top:40px;
        padding-right: 10px;
        font-size:15px;
    }
    input[type="text"].ftext5{
        margin-right:10px;
        margin-top:1px;
        height:40px;
        width:250px;
    }
    input[type="text"].ftext5::placeholder{
        padding-left:10px;
        font-size: 14px;
    }
    .ftext6{
        padding-top:15px;
        padding-right: 10px;
        font-size:14.5px;
    }
    input[type="button"].ftext7{
        width:80px;
        height:40px;
        margin-right:20px;
        font-size:13px;
        margin-bottom: -15px;
    }
    .ftext8{
        font-size:14.5px;
        padding-top:7px;
        padding-right:15px;
    }
    .bottomhr{
        width:100%;
        height:0;
    }
}