*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background:#00BFFF;
    height:100px;
    width: 100%;
}
nav ul{
    float:right;
    margin-right: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 30.8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.contact{
    display: inline-block;
    line-height: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-right:20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:22px;
}
nav ul li a:hover{
    color:white;
}
.active{
    color:white;
    background:blue;
    transition: .5s;
    padding: 6px 12px;
}
.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:#00BFFF;
    margin-left:-1px;
}
nav ul li:hover .sub-menu-1 ul li{
    display:block;
    width:20px;
    background: transparent;
    border-radius: 0;
    padding-left:0;
}
nav ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
nav ul li:hover .sub-menu-1 ul li a:hover{
    color:white;
}
.logo{
    height:80px;
    width:80px;
    margin-top: 9px;
    margin-left: 55px;
}
input[type="text"]{
    height:40px;
    width:130px;
    border:none;
    padding-left:35px;
    outline:none;
}
input[type="text"]::placeholder{
    font-size:17px;
}
#search{
    color:#fff;
    background:#dc143c;
    padding: 10.82px 12px;
    height:40.5px;
    width:70px;
    padding-left:25px;
}
.myhr{
    border:1.6px solid black;
    width: 28.5%;
}
.loginbox{
    width: 380px;
    height: 420px;
    background: #2f4f4f;
    color: #fff;
    top:30%;
    left:36%;
    position: absolute;
    transform: translate(-50%,-50%,);
    box-sizing: border-box;
    border-radius: 10px;
}
.loginbox:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1);
}
.avatar{
    width:100px;
    height: 100px;
    position: absolute;
    top: -55px;
    left: calc(51% - 50px);
}
h1{
    margin-top: 80px;
    margin-bottom:8px;
    text-align: center;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color:khaki;
}
input[type="text"].mytext{
    margin-left:10px;
    margin-bottom:6px;
    height:30px;
    width:250px;
    padding-left:20px;
    outline:none;
}
input[type="text"].mytext::placeholder{
    font-size: 15px;
}
input[type="text"].myage{
    margin-left:26px;
    margin-bottom:6px;
    height:30px;
    width:250px;
    font-size:16px;
    padding-left:20px;
    outline:none;
}
input[type="text"].myage::placeholder{
    font-size: 15px;
}
input[type="text"].myphone{
    margin-left:6px;
    margin-bottom:6px;
    height:30px;
    width:250px;
    font-size:16px;
    padding-left:20px;
    outline:none;
}
input[type="text"].myphone::placeholder{
    font-size: 15px;
}
input[type="email"]{
    margin-left:13px;
    height:30px;
    width:250px;
    font-size:17px;
    padding-left:20px;
    outline:none;
}
input[type="email"]::placeholder{
    font-size: 15px;
}
label{
    font-size:17.5px;
    font-family:sans-serif;
    margin-left:29px;
}
.mybutton{
    height:50px;
    width:120px;
    margin-left:130px;
    margin-top: 5px;
    font-size:20px;
    background:	#3cb371;
    border:none; 
    cursor: pointer;
    border-radius: 30px;
}
.mybutton1{
    color:white; 
}
.query{
    font-size:22px;
    font-family: arial;
    margin-top: 575px;
    margin-left: 435px;
    color:rgba(0, 0, 0, 0.750);
}
span{
    text-decoration: underline;
    color:brown;
}
.drop_icon{
    font-size:18px;
    color:white;
}
/* Respnosiveness */

/* for nest hub max*/
@media (max-device-width : 1316px){
    nav{
        height:180px;
        width:100%;
    }
    nav ul{
        margin-right:75px;
    }
    nav ul li{
        margin:0 17px;
    }
    nav ul li a{
        font-size:21px;
    }
    .logo{
        height:140px;
        width:140px;
        margin-top: 20px;
        margin-left: 35px;
    }
    .contact{
        line-height: 170px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:19px;
    }
    .active{
        padding: 6px 12px;
    }
    .drop_icon{
        font-size:16px;
    }
    .avatar{
        left: calc(50% - 50px);
    }
    .loginbox{
        top:35%;
    }
    .query{
        margin-top: 550px;
        margin-left: 345px;
    }
}
/* for nest hub */
@media (max-device-width : 1024px){
    nav{
        height:140px;
        width:100%;
    }
    nav ul{
        margin-right:60px;
    }
    nav ul li{
        margin:0 12px;
    }
    nav ul li a{
        font-size:17px;
    }
    .logo{
        height:100px;
        width:100px;
        margin-top: 20px;
        margin-left: 25px;
    }
    .contact{
        line-height: 135px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        margin-right:19px;
    }
    .active{
        padding: 6px 12px;
    }
    .drop_icon{
        font-size:13px;
    }
    .avatar{
        left: calc(55% - 50px);
        width:75px;
        height:75px;
        top: -40px;
    }
    .loginbox{
        width: 300px;
        height: 340px;
        top:34.5%;
        left:36%;
    }
    .query{
        font-size:17px;
        font-family: arial;
        margin-top: 415px;
        margin-left: 280px;
        color:rgba(0, 0, 0, 0.750);
    }
    h1{
        margin-top: 55px;
        margin-bottom:8px;
        font-size: 16px;
    }
    input[type="text"].mytext{
        margin-left:12px;
        margin-bottom:6px;
        height:25px;
        width:205px;
        padding-left:20px;
    }
    input[type="text"].mytext::placeholder{
        font-size: 13px;
    }
    input[type="text"].myage{
        margin-left:26px;
        margin-bottom:6px;
        height:25px;
        width:205px;
        padding-left:20px;
    }
    input[type="text"].myage::placeholder{
        font-size: 13px;
    }
    input[type="text"].myphone{
        margin-left:10px;
        margin-bottom:6px;
        height:25px;
        width:205px;
        padding-left:20px;
    }
    input[type="text"].myphone::placeholder{
        font-size: 13px;
    }
    input[type="email"]{
        margin-left:15px;
        margin-bottom:6px;
        height:25px;
        width:205px;
        padding-left:20px;
    }
    input[type="email"]::placeholder{
        font-size: 13px;
    }
    .mybutton{
        height:35px;
        width:90px;
        margin-left:105px;
        margin-top: -10px;
        font-size:17px;
        background:	#3cb371;
        border:none; 
        cursor: pointer;
        border-radius: 30px;
    }
    label{
        font-size:15px;
        margin-left:18px;
    }

}