*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
nav{
    background:#00BFFF;
    height:10rem;
    width: 151.9rem;
}
nav ul{
    float:right;
    margin-right: 8rem;
}
nav ul li{
    display: inline-block;
    line-height: 7rem;
    margin:0 2.73rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2rem;
}
.contact{
    display: inline-block;
    line-height: 9rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2rem;
    margin-right:2rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:2.2rem;
}
nav ul li a:hover{
    color:white;
}
.active{
    color:white;
    background:blue;
    transition: .5s;
    padding: .6rem 2.8rem;
}
.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:#00BFFF;
    margin-left:-0.1rem;
}
nav ul li:hover .sub-menu-1 ul li{
    display:block;
    width:2rem;
    background: transparent;
    border-radius: 0;
    padding-left:0.1px;
}
nav ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
nav ul li:hover .sub-menu-1 ul li a:hover{
    color:white;
}
img{
    height:8rem;
    width:8rem;
    margin-top: 0.9rem;
    margin-left: 5.5rem;
}
.drop_icon{
    font-size:18px;
    color:white;
}
.heading{
    font-weight:normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:1.2rem;
    padding-left:5.5rem;
    font-size: 3rem;
}
.text1{
    font-weight:normal;
    font-family: arial;
    color:rgba(0, 0, 0, 0.750);
    padding-top:1.5rem;
    padding-left:5.5rem;
    font-size: 2.1rem;
}
.text2{
    font-weight:bold;
    font-family: arial;
    color:black;
    padding-top:1.8rem;
    padding-left:5.5rem;
    font-size: 2rem;
}
.text3{
    font-weight:normal;
    font-family: arial;
    color:black;
    padding-top:3.2rem;
    padding-left:54.5rem;
    font-size: 2.8rem;
}
.text4{
    font-weight:normal;
    font-family: arial;
    color:black;
    padding-top:1.6rem;
    padding-left:54.5rem;
    font-size: 2.2rem;
}
.text5{
    font-weight:normal;
    font-family: arial;
    color:rgba(0, 0, 0, 0.750);
    padding-top:1.5rem;
    padding-left:54.5rem;
    font-size: 2.1rem;
}
.myhr{
    border:0.16rem solid black;
    width: 41.7rem;
}
.hr1{
    border:0.12rem solid black;
    width:19rem;
}
.hr2{
    border:0.12rem solid black;
    width:17.2rem;
}
.hr3{
    border:0.12rem solid black;
    width:21rem;
}
.hr4{
    border:0.12rem solid black;
    width:37.5rem;
}
.hr5{
    border:0.12rem solid black;
    width:36.5rem;
}
.image{
    margin-top:3.8rem;
    margin-right: 5.5rem;
    height:45rem;
    width:50rem;
    border-radius: 3rem;
}
.image1{
    margin-top:2.5rem;
    margin-left: 5.5rem;
    height:42rem;
    width:46rem;
    border-radius: 2rem;
}
.mylist{
    list-style-type: disc;
    margin-left: 10.5rem;
    margin-top:2rem;
    font-size:2.15rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.mylist1{
    list-style-type: disc;
    margin-left: 10.5rem;
    margin-top:2rem;
    font-size:2.15rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.mylist2{
    list-style-type: disc;
    margin-left: 60rem;
    margin-top:1rem;
    font-size:2.15rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.mylist3{
    list-style-type: disc;
    margin-left: 60rem;
    margin-top:0.5rem;
    font-size:2.15rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
footer{
    height:410px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ebebeb;
    color: white;
    text-align:center;  
    padding-top:5px;
}
.ftext1{
    display: inline;
    font-family:arial;
    padding-top:30px;
    padding-left:200px;
    font-size:24px;
    float:left;
    color: #17a2b8;
}

.ftext2{
    font-family:arial;
    padding-top:30px;
    padding-right:200px;
    font-size:24px;
    float:right;
    color: #17a2b8;
}
#myphone{
    padding-left:10px;
}
.ftext3{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:10px;
    padding-left:180px;
    font-size:20px;
    float: left;
}
.ftext3_2{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:20px;
    padding-left:180px;
    float:left;
    font-size:20px;
}
.linkedin{
    float:right;
    font-size: 40px;
    padding-top: 5px;
    padding-right:160px;
    color:#0077b5;
}
.github{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color: #666666;
}
.facebook{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#4267B2;
}
.whatsapp{
    float:right;
    font-size:40px;
    padding-top: 5px; 
    padding-right:18px;
    color:#25D366;
}
.insta{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#C13584;
}
.ftext4{
    color:#17a2b8;
    font-weight: normal;
    font-family:arial;
    padding-top:20px;
    padding-right: 420px;
    font-size:20px;
}
input[type="text"].ftext5{
    margin-right:95px;
    margin-top:5px;
    height:40px;
    width:350px;
}
input[type="text"].ftext5::placeholder{
    padding-left:45px;
    font-size: 16px;
}
.ftext6{
    color:rgba(0, 0, 0, 0.750);
    font-weight: normal;
    font-family:arial;
    padding-top:25px;
    padding-right: 90px;
    font-size:19px;
}
input[type="button"].ftext7{
    background-image:linear-gradient( to right, #89cebe, #7bc9c2, #6ec4c6, #63bfca, #5bb9ce, #4fb4d2, #47afd6, #43a9da, #38a3df, #359de4, #3b96e7, #488ee9 );
    width:150px;
    height:40px;
    color:#fff;
    border:none;
    border-radius:5px;
    margin-right:120px;
    font-size:17px;
}
.bottomhr{
    border:0.2px solid lightgrey;
}
.ftext8{
    font-weight:normal;
    font-family: monospace;
    font-size:20px;
    padding-top:7px;
    padding-right:100px;
    color:#17a2b8;
}
#myImg{
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.9;}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
  }
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    height: 470px;
    border-radius: 20px;
  }
.modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: darkgray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
@media (max-device-width:998px) {
    html{
        font-size: 55%;
    }
}*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background:#00BFFF;
    height:100px;
    width: 100%;
}
nav ul{
    float:right;
    margin-right: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 27.3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.contact{
    display: inline-block;
    line-height: 90px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    margin-right:20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:22px;
}
nav ul li a:hover{
    color:white;
}
.active{
    color:white;
    background:blue;
    transition: .5s;
    padding: 6px 28px;
}
.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:#00BFFF;
    margin-left:-1px;
}
nav ul li:hover .sub-menu-1 ul li{
    display:block;
    width:20px;
    background: transparent;
    border-radius: 0;
    padding-left:1px;
}
nav ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
nav ul li:hover .sub-menu-1 ul li a:hover{
    color:white;
}
img{
    height:80px;
    width:80px;
    margin-top: 9px;
    margin-left: 55px;
}
input[type="text"]{
    height:40px;
    width:130px;
    border:none;
    padding-left:35px;
    outline:none;
}
input[type="text"]::placeholder{
    font-size:17px;
}
#search{
    color:#fff;
    background:#dc143c;
    padding: 10.82px 12px;
    height:40.5px;
    width:70px;
    padding-left:25px;
}
.drop_icon{
    font-size:18px;
    color:white;
}
.heading{
    font-weight:normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:12px;
    padding-left:55px;
    font-size: 30px;
}
.text1{
    font-weight:normal;
    font-family: arial;
    color:rgba(0, 0, 0, 0.750);
    padding-top:15px;
    padding-left:55px;
    font-size: 21px;
}
.text2{
    font-weight:bold;
    font-family: arial;
    color:black;
    padding-top:18px;
    padding-left:55px;
    font-size: 20px;
}
.text3{
    font-weight:normal;
    font-family: arial;
    color:black;
    padding-top:32px;
    padding-left:545px;
    font-size: 28px;
}
.text4{
    font-weight:normal;
    font-family: arial;
    color:black;
    padding-top:16px;
    padding-left:545px;
    font-size: 22px;
}
.text5{
    font-weight:normal;
    font-family: arial;
    color:rgba(0, 0, 0, 0.750);
    padding-top:15px;
    padding-left:545px;
    font-size: 21px;
}
.myhr{
    border:1.6px solid black;
    width: 29%;
}
.hr1{
    border:1.2px solid black;
    width:13%;
}
.hr2{
    border:1.2px solid black;
    width:12%;
}
.hr3{
    border:1.2px solid black;
    width:14.5%;
}
.hr4{
    border:1.2px solid black;
    width:38.9%;
}
.hr5{
    border:1.2px solid black;
    width:38%;
}
.image{
    margin-top:38px;
    margin-right: 55px;
    height:450px;
    width:500px;
    border-radius: 30px;
}
.image1{
    margin-top:25px;
    margin-left: 55px;
    height:420px;
    width:460px;
    border-radius: 20px;
}
.mylist{
    list-style-type: disc;
    margin-left: 105px;
    margin-top:20px;
    font-size:21.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.mylist1{
    list-style-type: disc;
    margin-left: 105px;
    margin-top:10px;
    font-size:21.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.mylist2{
    list-style-type: disc;
    margin-left: 600px;
    margin-top:10px;
    font-size:21.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.mylist3{
    list-style-type: disc;
    margin-left: 600px;
    margin-top:5px;
    font-size:21.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
footer{
    height:410px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ebebeb;
    color: white;
    text-align:center;  
    padding-top:5px;
}
.ftext1{
    display: inline;
    font-family:arial;
    padding-top:30px;
    padding-left:200px;
    font-size:24px;
    float:left;
    color: #17a2b8;
}

.ftext2{
    font-family:arial;
    padding-top:30px;
    padding-right:200px;
    font-size:24px;
    float:right;
    color: #17a2b8;
}
#myphone{
    padding-left:10px;
}
.ftext3{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:10px;
    padding-left:180px;
    font-size:20px;
    float: left;
}
.ftext3_2{
    display: inline;
    color:#17a2b8;
    font-family:arial;
    padding-top:20px;
    padding-left:180px;
    float:left;
    font-size:20px;
}
.linkedin{
    float:right;
    font-size: 40px;
    padding-top: 5px;
    padding-right:160px;
    color:#0077b5;
}
.github{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color: #666666;
}
.facebook{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#4267B2;
}
.whatsapp{
    float:right;
    font-size:40px;
    padding-top: 5px; 
    padding-right:18px;
    color:#25D366;
}
.insta{
    float:right;
    font-size:40px; 
    padding-top: 5px;
    padding-right:18px;
    color:#C13584;
}
.ftext4{
    color:#17a2b8;
    font-weight: normal;
    font-family:arial;
    padding-top:20px;
    padding-right: 420px;
    font-size:20px;
}
input[type="text"].ftext5{
    margin-right:95px;
    margin-top:5px;
    height:40px;
    width:350px;
}
input[type="text"].ftext5::placeholder{
    padding-left:45px;
    font-size: 16px;
}
.ftext6{
    color:rgba(0, 0, 0, 0.750);
    font-weight: normal;
    font-family:arial;
    padding-top:25px;
    padding-right: 90px;
    font-size:19px;
}
input[type="button"].ftext7{
    background-image:linear-gradient( to right, #89cebe, #7bc9c2, #6ec4c6, #63bfca, #5bb9ce, #4fb4d2, #47afd6, #43a9da, #38a3df, #359de4, #3b96e7, #488ee9 );
    width:150px;
    height:40px;
    color:#fff;
    border:none;
    border-radius:5px;
    margin-right:120px;
    font-size:17px;
}
.bottomhr{
    border:0.2px solid lightgrey;
}
.ftext8{
    font-weight:normal;
    font-family: monospace;
    font-size:20px;
    padding-top:7px;
    padding-right:100px;
    color:#17a2b8;
}
#myImg{
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.9;}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
  }
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    height: 470px;
    border-radius: 20px;
  }
.modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: darkgray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

