<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/cauadhd.css">
</head>

<body>

    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Disorders <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/disocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/disadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Symptoms <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/symanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/symocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Causes <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/cauanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Cure <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/curanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/curocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <input type="text" placeholder="What are you looking for?"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
            
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Common causes of ADHD<hr class="myhr"> </h2> 
    <h2 class="text1">The exact cause of <strong>attention deficit hyperactivity disorder</strong> (ADHD) is 
        not fully understood, although a combination of factors is thought to be responsible.
    </h2>
    <img class="image" src="../static/images/genetics.jpg" align="right">
    <h3 class="text2">1) Genetics <i class="fa-solid fa-dna" id="icon"></i>
        <hr class="hr1">
    </h3> <br>
   <p class="para1">ADHD tends to run in families and, in most cases, it's through the genes you inherit
     from your parents are a significant factor in developing the condition. Research shows that parents
      and siblings of someone with ADHD are more likely to have ADHD themselves. However, the way ADHD is 
      inherited is likely to be complex and is not thought to be related to a single genetic fault.
    </p> 
    <h3 class="text3">2) Brain function and structure <i class="fa-solid fa-brain" id="icon"></i>
        <hr class="hr2">
    </h3> <br>
    <p class="para1"> Research has identified a number of possible differences in the brains of people with ADHD from those without the condition, although the exact 
        significance of these is not clear.For example, studies involving brain scans have suggested that certain areas of the brain may be smaller in people with ADHD, whereas other areas may be larger.
    </p>
    <h3 class="text3">3) Groups at risk <i class="fa-solid fa-people-group" id="icon"></i>
        <hr class="hr3">
    </h3> <br> 
    <p class="para1">Certain people are also believed to be more at risk of ADHD, including people:
        <ul>
            <li class="mylist"> Who were born prematurely (before the 37th week of pregnancy) or with a low birthweight
            <li class="mylist1">With epilepsy
            <li class="mylist1">With brain damage - which happened either in the womb or after a severe head injury later in life
        </ul>
    </p>
    <footer><p class="copyright">Copyright &#169 2023 | All rights reserved </p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_self">
            <ion-icon class="linkedin" name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_self">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_self">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_self">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_self">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> 
     </footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>