<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Causes of Bipolar</title>
     <!--FontAwesome CDN-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/caubid.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <li><a href="../templates/feedback.html" target="_self">Feedback</a></li>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Causes of Bipolar Disorder<hr class="myhr"> </h2> 
    <h2 class="text1">Scientists don't yet know the exact cause of <strong>bipolar disorder</strong>. But they do believe there's 
        a strong genetic (inherited) component.
    </h2>
    <img class="image" src="../static/images/stress1.jpg" align="right">
    <h2 class="text1">Bipolar disorder is considered one of the most heritable psychiatric conditions — more than 
        two-thirds of people with bipolar disorder have at least one close biological relative with the condition.
        However, just because you have a biological relative with bipolar disorder, doesn't necessarily mean you'll
        also develop it. </h2>
    <h2 class="text1">
        Other factors that scientists think contribute to the development of bipolar disorder include:
    </h2>
    <ul>
        <li class="mylist"><strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Changes in your brain : </strong>&nbsp;Researchers 
            have identified subtle differences in the average size or activation of some brain structures in people with 
            bipolar disorder. However, brain scans can't diagnose the condition.
        <li class="mylist1"><strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Environmental factors like trauma and stress : </strong>&nbsp;A 
            stressful event, such as the death of a loved one, a serious illness, divorce or financial problems can trigger
            a manic or depressive episode. Because of this, stress and trauma may also play a role in the development of 
            bipolar disorder.
    </ul>
    <h2 class="text1">Scientists are currently performing research to determine the relationship that these 
        factors have in bipolar disorder, how they may help prevent its onset and what role they may play in 
        its treatment.</h2>
    <img class="image1" src="../static/images/child.jpg" align="left">
    <h2 class="text3">Childhood Trauma <hr class="hr1"></h2>
    <h2 class="text4">Some experts believe that experiencing a lot of <strong>emotional distress as a child</strong> can cause 
        bipolar disorder to develop. This could be because childhood trauma and distress can have a big effect 
        on your ability to manage your emotions. This can include experiences like: </h2>
         <ul>
            <li class="mylist2">Neglect</li>
            <li class="mylist3">Sexual, physical or emotional abuse</li>
            <li class="mylist3">Traumatic events</li>
            <li class="mylist3">Losing someone very close to you, such as a parent or carer</li>
            <li class="mylist3">It's thought bipolar disorder is linked to genetics, as it seems to run in 
            families. The family members of a person with bipolar disorder have an increased risk of developing 
            it themselves. <br> But no single gene is responsible for bipolar disorder. Instead, a number of genetic 
            and environmental factors are thought to act as triggers.</li>
            <li class="mylist3">A stressful circumstance or situation often triggers the symptoms of bipolar 
            disorder. <br> Examples of stressful triggers include: the breakdown of a relationship physical, sexual or 
            emotional abuse the death of a close family member or loved one.</li>
        </ul> <br> <br> <br>
        <footer><h2 class="ftext1">Contact Us</h2>
            <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
            <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="github" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
                <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
            <li><a href="https://www.whatsapp.com/" target="_blank">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
                <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
            <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
            <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
            <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
            <input type="button" value="Subscribe" class="ftext7" id="myImg"> 
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img02" src="../static/images/confirm.jpg">
                <div id="caption"></div>
            </div><br> <br> <br>
            <hr class="bottomhr">
            <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
        </footer>
        <script>
            var modal = document.getElementById("myModal");
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
              modal.style.display = "none";
            }
        </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>