<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/cauocd.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Causes of OCD<hr class="myhr"> </h2> 
    <h2 class="text1">The cause of OCD is <strong>unknown</strong>. Both environmental and genetic factors are believed to play 
        a role. Risk factors include a history of Adverse Childhood Experiences or other stress-inducing events.
    </h2>
    <img class="image" src="../static/images/genetics.jpg" align="right">
    <h2 class="text1">Some of the most comon causes of ocd are as follows :</h2>
    <ul>
        <li class="mylist"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Genetics : </strong> &nbsp;Studies 
            show that people who have a first-degree relative (biological parent or sibling) with OCD are at a
            higher risk for developing the condition. The risk increases if the relative developed OCD as a child or teen.</li>
        <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Brain changes : </strong> &nbsp;Imaging 
            studies have shown differences in the frontal cortex and subcortical structures of the brain in people who have
            OCD. OCD is also associated with other neurological conditions that affect similar areas of your brain, 
            including strep throat or scarlet fever. OCD is one of these conditions. </li>
            <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Childhood trauma : </strong> &nbsp; Some
            studies show an association between childhood trauma, such as abuse or neglect, and the development of 
            OCD. </li>
        </ul>
    <h2 class="text2">Biological Factors <hr class="hr1"></h2>
    <h2 class="text1">Some mental health researchers have encouraged us to think of research on <strong>brain scans</strong> and 
        similar as indicating that OCD is linked to a genetic or biological cause. This research is often described
        in terms of chemical imbalances in the brain, faulty brain circuitry or genetic defects. However, despite 
        the recognition that certain parts of the brain are different in OCD sufferers, when compared with 
        non-sufferers, it is still not known how these differences relate to the precise mechanisms of OCD.</h2>
    <img class="image1" src="../static/images/stress.jpg" align="left">
    <h2 class="text3">PANDAS <hr class="hr2"></h2>
    <h2 class="text5">A 1998 finding implicated the basal ganglia as a key brain region in OCD with the discovery 
        that in a <br> sub-group of children with OCD the disorder may have been triggered by infections. It is thought 
        that <br> the body's natural response to infection, the production of certain antibodies, when directed to parts <br>
        of the brain might be linked in some way to <strong>P</strong>aediatric <strong>A</strong>utoimmune <strong>N</strong>europsychiatric <strong>D</strong>isorders <strong>A</strong>ssociated 
        with Streptococcal Infection (<strong>PANDAS</strong>).
    <h2 class="text4">Stress <hr class="hr3"></h2>
    <h2 class="text5"><strong>Stress</strong> and parenting styles are environmental factors that have been blamed for causing OCD, 
        but <br> no evidence is yet to show that. Stress does not actually cause OCD, but major stresses or traumatic <br>
        life events may precipitate the onset of OCD. However, these are not thought to cause OCD, but <br> rather
        trigger it in someone already predisposed to the disorder.
        <h2 class="text4">Depression <hr class="hr4"></h2>
        <h2 class="text5"><strong>Depression</strong> is also sometimes thought to cause OCD, although without question depression
         will <br> make OCD symptoms worse, the majority of experts believe that depression is often a consequence <br> of 
         OCD rather than a cause.</h2> <br> <br>
         <footer><h2 class="ftext1">Contact Us</h2>
            <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
            <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="github" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
                <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
            <li><a href="https://www.whatsapp.com/" target="_blank">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
                <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
            <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
            <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
            <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
            <input type="button" value="Subscribe" class="ftext7" id="myImg">
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img02" src="../static/images/confirm.jpg">
                <div id="caption"></div>
            </div> <br> <br> <br>
            <hr class="bottomhr">
            <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
        </footer>
        <script>
            var modal = document.getElementById("myModal");
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
              modal.style.display = "none";
            }
        </script>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>