<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/contact.css">
</head>

<body>
    <nav>
        <img class="logo" src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self" class="active">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <li><a href="../templates/feedback.html" target="_self">Feedback</a></li>
        </ul>
    </nav>
    <hr size=12 color="blue">
    <div class="row">
        <div class="column">
    <h2 class="text">Contact Us <hr class="hr1"></h2>
    <h2 class="text1">Questions, concerns, curiosities? We'd love to hear from you. If you need assistance, please fill out the form and we'd be happy to help!</h2>
    <h2 class="text2">We're listening <hr class="hr2"></h2>
    <p class="text3">Your message is important to us. A team member will usually respond to you within 3 office days. 
        If it is a matter that requires team dialogue, our response may take longer.</p>
    <p class="text4"><strong>Our office days are&nbsp;Monday to Thursday</strong> in support of our team's wellbeing. 
        We rest from Friday to Sunday.</p>
    <p class="text5">If you or someone you know is in immediate, life-threatening danger and decide to call 911,
         please be aware that police are not equipped to offer mental health support and may even pose danger
         to People of Color, Neurodivergent people and <br> Disabled people.</p>
         <i class="fa-solid fa-envelope" id="mail"> -</i><span>pratyushmajumdar27@gmail.com</span>
        </div>
        <br> <br> 
        <div class="column">
            <form>
                  <label for="Name">Your Name</label>
                  <input type="text" class="mytext" name="name" placeholder="Enter your name"> <br><br> <br>
                  <label for="Age">Your Age</label>
                  <input type="text" class="myage" name="age" size="55" placeholder="Enter your age"> <br><br> <br>
                  <label for="Gender">Gender</label>
                  <select id="Gender">
                    <option value="male" selected>Male</option>
                    <option value="female">Female</option>
                    <option value="optional">Rather not say</option>
                  </select> <br> <br> <br>
                  <label for="Phone">Phone number</label>
                  <input type="text" class="myphone" name="phone" size="55" placeholder="Enter your number"> <br><br><br>
                  <label for="Email">Email address</label>
                  <input type="email" name="email" size="55" placeholder="Enter your email"> <br><br><br>
                  <label for="Country">Country</label>
                  <select id="Country">
                    <option value="india" selected>India</option>
                    <option value="usa">U.S.A</option>
                    <option value="china">China</option>
                    <option value="japan">Japan</option>
                  </select><br> <br> <br>
                    <input type="button" value="Submit" id="myImg">
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img02" src="../static/images/thankyou.jpg">
                        <div id="caption"></div>
                    </div>
                    <input type="reset" value="Reset">
              </form>
        </div>
        </div> 
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <footer><h2 class="ftext1">Contact Us</h2>
            <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
            <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="github" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
                <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
            <li><a href="https://www.whatsapp.com/" target="_blank">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
                <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
            <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
            <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
            <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
            <input type="button" value="Subscribe" class="ftext7" id="myImg1">
            <div id="myModal1" class="modal1">
                <span class="close1">&times;</span>
                <img class="modal-content1" id="img02" src="../static/images/confirm.jpg">
                <div id="caption1"></div>
            </div> <br> <br> <br>
            <hr class="bottomhr">
            <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
        </footer>
        <!--IonIcon CDN-->
        <script>
            var modal = document.getElementById("myModal");
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
              modal.style.display = "none";
            }
        </script>
        <script>
            var modal1 = document.getElementById("myModal1");
            var img1 = document.getElementById("myImg1");
            var modalImg1 = document.getElementById("img01");
            var captionText1 = document.getElementById("caption1");
            img1.onclick = function(){
              modal1.style.display = "block";
              modalImg1.src = this.src;
              captionText1.innerHTML = this.alt;
            }
            var span1 = document.getElementsByClassName("close1")[0];
            span1.onclick = function() {
              modal1.style.display = "none";
            }
            </script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>