<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\Pratyush\Desktop\Sem4Project\static\contact.css">
</head>

<body></body>

    <nav>
        <img src="C:\Users\Pratyush\Downloads\My project.png">
        <ul>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\home.html" target="_self">Home</a></li>
            <li><a href="#">Disorders <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disanxiety.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disocd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disadhd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Symptoms <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symanxiety.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symocd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symadhd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Causes <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauanxiety.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauocd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauadhd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Cure <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curanxiety.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curocd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curadhd.html" target="_self">
                            <ion-icon name="caret-forward-outline" class="extra_icon"></ion-icon>ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\contact.html" target="_self" class="active">Contact Us</a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="icon" name="logo-instagram"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="icon1" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="icon2" name="logo-linkedin"></ion-icon></ion-icon></a></li>
        </ul>
    </nav>
    <hr size=15 color="blue">
    <div class="row">
        <div class="column">
    <h2>Contact Us</h2>
    <h2 class="text1">Questions, concerns, curiosities? We'd love to hear <br>
         from you. <a class="demo" href="">Click here</a> to book a demo class.</h2>
    <h2 class="text2">We're listening</h2>
    <p class="text3">Your message is important to us. A team member will usually<br> respond to you within 3 office days. 
        If it is a matter that<br> requires team dialogue, our response may take longer.</p>
    <p class="text4"><strong>Our office days are&nbsp;Monday to Thursday</strong> in<br> support of our team's wellbeing. 
        We rest from Friday<br> to Sunday.</p>
    <p class="text5">If you or someone you know is in immediate, life-threatening <br> danger and decide to call 911,
         please be aware that police are<br>not equipped to offer mental health support and may even <br> pose danger
         to People of Color, Neurodivergent people and <br> Disabled people.</p>
        </div>
        <br> <br> <br>
        <div class="column">
            <form>
                  <label for="Name">Your Name</label>
                  <input type="text" class="mytext" name="name" size="55" placeholder="Enter your name"> <br><br> <br>
                  <label for="Age">Your Age</label>
                  <input type="text" class="myage" name="age" size="55" placeholder="Enter your age"> <br><br> <br>
                  <label for="Phone">Phone number</label>
                  <input type="text" class="myphone" name="phone" size="55" placeholder="Enter your number"> <br><br><br>
                  <label for="Email">Email address</label>
                  <input type="email" name="email" size="55" placeholder="Enter your email"> <br><br><br>
                  <label for="Country">Country</label>
                  <select id="Country">
                    <option value="india" selected>India</option>
                    <option value="usa">U.S.A</option>
                    <option value="china">China</option>
                    <option value="japan">Japan</option>
                  </select><br> <br> <br>
                    <button type="submit"> Submit </button> <button
                  type="reset"> Reset </button>
              </form>
        </div>
        </div>
      <footer>Copyright
        &#169 2023 | All rights reserved </footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>