<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cure for Anxiety</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/curanxiety.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#" class="active">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Remedies for Anxiety Disorder<hr class="myhr"> </h2> 
    <h2 class="text1"><strong>Consistent feelings of anxiety</strong> can prove to be unhealthy and even
        start to affect the quality of your life and prevent you from working efficiently.<br> However, fortunately
        you can deal with it. Some methods are given below.
    </h2>
    <img class="image" src="../static/images/maxresdefault (1).jpg" align="right">
    <h3 class="text2">1) Practice Mindfulness <i class="fa-solid fa-brain" id="icon"></i>
        <hr class="hr1">
    </h3> <br>
   <p class="para1"><strong>Mindfulness</strong> is a way of living that helps you face your fear and live life fully,
        irrespective of what the future hold for you. Mindfulness is just the exact opposite of anxiety.
        People with anxiety can't stop worrying. Whereas with mindfulness, you will be able to improve focus
        in life and reduce anxiety without the need for any medication.
    </p> 
    <h3 class="text3">2) Keep Yourself Physically Active <i class="fa-solid fa-person-walking" id="icon1"></i>
        <hr class="hr2">
    </h3> <br>
    <p class="para1"> <strong>Physical exercise</strong> is one of the best ways of reducing stress and anxiety. It acts
        like a mood booster and eases depression and anxiety by releasing endorphins which are the chemicals 
        in the brain that act as natural painkillers and reduces stress. Exercise may improve mental health by
        helping the brain cope better with stress. 
    </p>
    <h3 class="text3">3) Avoid Triggers (Alcohol, Caffeine, etc.) <i class="fa-solid fa-wine-glass-empty" id="icon1"></i>
        <hr class="hr3">
    </h3> <br> 
    <p class="para1"> <strong>Excessive consumption of alcohol and caffeine</strong> can make it even more difficult
        to cope with your anxiety and stress,  worsening the situation, consuming alcohol in high amounts might lead
        to greater alocohol dependence, blackout, brain damage, etc. which will only increase your anxiety and 
        stress. Excessive caffeine consumption can lead to symptoms similar to psychiatric conditions including 
        sleep and anxiety disorders.
    </p>
    <img class="image1" src="../static/images/sleep.jpg" align="left">
    <h3 class="text4">4) Get Enough Rest <i class="fa-solid fa-bed" id="icon1"></i>
        <hr class="hr4">
    </h3> <br> 
    <p class="para2">Sleep deprivation can contribute to common anxiety symptoms. These symptoms include excessive
        worrying, <br> and by restoring proper sleep patterns, people with anxiety can reduce feelings of fear, worry 
        and tension. Aim <br> to get <strong>7-9 hours of sleep</strong> every night in order to reduce stress, prevent moodiness
        and reduce fatigue.
    </p>
    <h3 class="text5">5) Eat a Clean and Well-Balanced Diet <i class="fa-solid fa-bowl-food" id="icon1"></i>
        <hr class="hr5">
    </h3> <br> 
    <p class="para2">Consuming <strong>too many</strong> or <strong>too little calories</strong> can increase anxiety symptoms and other psychological or <br>
    emotional disorders. Also, poor diet can lead to many anxiety symptoms, including moodiness, 
    fatigue and abnormal blood sugar levels that cause nervousness and  the jitters. To improve anxiety 
    symptoms, make sure <br> to add vitamin B foods, magnesium rich foods, foods high in calcium and omega-3 foods
    to your diet too.
    </p> 
    <h3 class="text5"> 6) Find Support <i class="fa-solid fa-handshake-angle" id="icon1"></i>
        <hr class="hr6">
    </h3> <br>
    <p class="para2">In your effort to overcome anxiety, <strong>finding support</strong> from your family, friends, community 
    and professional <br> therapists can be extremely helpful. If your anxiety is affecting your quality of life,
    consider joining a <strong>local <br> support</strong> group or connecting with other people who are dealing with anxiety.
    </p> <br> <br>
    <footer><h2 class="ftext1">Contact Us</h2>
        <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
        <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
            <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_blank">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_blank">
            <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
            <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
            <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
        <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
        <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
        <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
        <input type="button" value="Subscribe" class="ftext7" id="myImg">
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img02" src="../static/images/confirm.jpg">
            <div id="caption"></div>
        </div> <br> <br> <br>
        <hr class="bottomhr">
        <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
    </footer>
    <script>
        var modal = document.getElementById("myModal");
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
          modal.style.display = "none";
        }
    </script>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>