<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/curocd.css">
</head>

<body>

    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Disorders <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/disocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/disadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Symptoms <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/symanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/symocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Causes <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/cauanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Cure <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/curanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/curocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <input type="text" placeholder="What are you looking for?"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
            
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Treatment for OCD Disorder<hr class="myhr"> </h2> 
    <h2 class="text1"><strong>Obsessive-compulsive disorder</strong> treatment may not result in a cure, but it can help bring 
        symptoms under control so that they don't rule your daily life. <br>Depending on the severity of OCD, 
        some people may need long-term, ongoing or more intensive treatment. Some treatments are given below.
    </h2>
    <img class="image" src="../static/images/pills.jpg" align="right">
    <h3 class="text2">1) Psychotherapy <i class="fa-solid fa-person-circle-check" id="icon"></i>
        <hr class="hr1">
    </h3> <br>
   <p class="para1"><strong>Cognitive behavioral therapy (CBT)</strong>, a type of psychotherapy, is effective for many people
     with OCD. Exposure and response prevention (ERP), a component of CBT therapy, involves gradually exposing you 
     to a feared object or obsession, such as dirt, and having you learn ways to resist the urge to do your 
     compulsive rituals.
    </p> 
    <h3 class="text3">2) Medications <i class="fa-solid fa-pills" id="icon1"></i>
        <hr class="hr2">
    </h3> <br>
    <p class="para1">Antidepressants approved by the U.S. Food and Drug Administration (FDA) to treat OCD include: <br> <br>
        i] &nbsp;&nbsp; <strong>Clomipramine</strong> (Anafranil) for adults and children 10 years and older. <br>
        ii] &nbsp; <strong>Fluoxetine</strong> (Prozac) for adults and children 7 years and older. <br>
        iii] &nbsp;<strong>Paroxetine</strong> (Paxil, Pexeva) for adults only.
    </p>
    <h3 class="text3">3) Intensive outpatient and residential treatment programs <i class="fa-solid fa-user-doctor" id="icon1"></i>
        <hr class="hr3">
    </h3> <br> 
    <p class="para1"> <strong>Comprehensive treatment programs</strong> that emphasize ERP therapy principles may be helpful for people with OCD 
        who struggle with being able to function because of the severity of their symptoms. These programs typically 
        last several weeks.
    </p>
    <footer><p class="copyright">Copyright &#169 2023 | All rights reserved </p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_self">
            <ion-icon class="linkedin" name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_self">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_self">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_self">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_self">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> 
     </footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>