<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/disadhd.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">What is ADHD?<hr class="myhr"> </h2> 
    <h2 class="text1"><strong>Attention-deficit/hyperactivity disorder (ADHD)</strong> is a chronic condition that affects
         millions of children and often continues into adulthood. ADHD includes <br> a combination of persistent 
         problems, such as difficulty sustaining attention, hyperactivity and impulsive behavior.
    </h2>
    <video width="420" height="360" poster="../static/images/adhd1.jpg" controls>
        <source src="../static/images/adhd.mp4" type="video/mp4"></video>
    <h2 class="text1">ADHD is divided into three primary presentations:
   </h2>
    <ul>
        <li class="mylist">Predominantly inattentive (ADHD-PI or ADHD-I)
        <li class="mylist1"> Predominantly hyperactive-impulsive (ADHD-PH or ADHD-HI)
        <li class="mylist1"> Combined type (ADHD-C).
    </ul>
    <h2 class="text1">Children with ADHD may also struggle with <strong> low self-esteem, troubled relationships 
        and poor performance </strong> in school. Symptoms sometimes lessen with age. However, some people never completely outgrow their ADHD symptoms. But they can learn strategies to be successful.
    </h2>
    <h2 class="text1">It is normal for children to have trouble focusing and behaving at one time or another. 
        However, <br> children with ADHD do not just grow out of these behaviors. The symptoms continue, can be 
        severe, <br> and can cause difficulty at school, at home, or with friends.
    </h2>
    <h2 class="text1"> While treatment won't cure ADHD, it can help a great deal with symptoms. Treatment 
        typically <br> involves medications and behavioral interventions.
    </h2>
    <h2 class="text1">Attention deficit hyperactivity disorder (ADHD) is a condition that affects people's
         behaviour. People with ADHD can seem restless, may have trouble concentrating and may act on impulse.
    </h2>
    <img class="image1" src="../static/images/adhd.jpg" align="left">
    <h2 class="text2">People with ADHD may <strong>struggle more</strong> than others to focus on some tasks (such as schoolwork), <br>
         but can maintain an unusually intense level of attention for tasks they find rewarding or interesting.
         <br>It affects about 5-7% of children when diagnosed via the DSM-IV criteria, and 1-2% when diagnosed <br> via the
        ICD-10 criteria. Rates are similar between countries and differences in rates depend mostly <br> on how it is
        diagnosed.
    </h2>
    <h2 class="text3">ADHD is diagnosed approximately twice as often in boys than in girls, and 1.6 times more
         often in <br> men than in women, although the disorder is overlooked in girls or diagnosed in later life 
         because <br> their symptoms sometimes differ from diagnostic criteria. About 30-50% of people 
         diagnosed in childhood continue to have ADHD in adulthood, with 2.58% of adults estimated to have ADHD 
         which began in childhood. In adults, hyperactivity is usually replaced by inner restlessness, and adults <br>
         often develop coping skills to compensate for their impairments. </h2>
    <h2 class="text3">The condition can be difficult to tell apart from other conditions, as well as from high 
        levels of activity within the range of normal behaviour. ADHD has a negative impact on patients' health 
        related quality <br> of life and that this may be further exacerbated by, or may increase the risk of, other 
        psychiatric conditions such as anxiety and depression.</h2> <br> <br>
        <footer><h2 class="ftext1">Contact Us</h2>
            <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
            <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="github" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
                <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
            <li><a href="https://www.whatsapp.com/" target="_blank">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
                <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
            <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
            <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
            <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
            <input type="button" value="Subscribe" class="ftext7" id="myImg"> 
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img02" src="../static/images/confirm.jpg">
                <div id="caption"></div>
            </div><br> <br> <br>
            <hr class="bottomhr">
            <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
        </footer>
        <script>
            var modal = document.getElementById("myModal");
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
              modal.style.display = "none";
            }
        </script>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>