<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Anxiety</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/disanxiety.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#" class="active">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">What is Anxiety?<hr class="myhr"> </h2> 
    <h2 class="text1">An <strong>Anxiety Disorder</strong> is a type of mental health condition in which you may 
        respond to certain things and situations with fear and dread.You may feel <br> anxious or nervous if you have 
        to tackle a problem at work, go to an interview, take a test or make an important decision.  
    <video width="420" height="360" poster="../static/images/anxiety1.jpg" controls>
        <source src="../static/images/anxiety.mp4" type="video/mp4"></video>
    <h2 class="text1"> An anxiety disorder happens when:
   </h2>
    <ul>
        <li class="mylist">Anxiety interferes with your ability to function
        <li class="mylist1"> You often overreact when something triggers your emotions
        <li class="mylist1"> You can't control your responses to situations.
    </ul>
    <h2 class="text2">Who is at risk for anxiety disorders? <hr class="hr1">
    </h2>
    <h2 class="text1">A mix of genetic and environmental factors can raise a person's risk for developing 
        anxiety disorders. You may be at higher risk if you have or had:
    </h2>
    <ul>
        <li class="mylist">Certain personality traits, such as shyness or behavioral inhibition — feeling 
            uncomfortable with,  <br> and avoiding, unfamiliar people, situations or environments
        <li class="mylist1"> Stressful or traumatic events in early childhood or adulthood
        <li class="mylist1"> Family history of anxiety or other mental health conditions
        <li class="mylist1"> Certain physical conditions,like thyroid problems and heart arrhythmias (unusual heart rhythms).</li>
    </ul>
    <img class="image1" src="../static/images/Anxiety.jpg" align="left">
    <h2 class="text3">What are the types of anxiety disorders?<hr class="hr2"></h2> 
    <h2 class="text4"> There are several types of anxiety disorders, including:</h2>
    <ul>
        <li class="mylist2">Generalized anxiety disorder (GAD)
        <li class="mylist3">Panic disorder
        <li class="mylist3">Phobias
        <li class="mylist3">Separation anxiety.</li>
    </ul>
    <h2 class="text5">How do anxiety disorders affect children? <hr class="hr3"></h2>
    <h2 class="text4">It's normal for children to feel some amount of anxiety, worry or fear at certain points. 
    For example, <br> a child may feel scared of a thunderstorm or barking dog. A teenager might get anxious about an 
    upcoming test or school dance. But sometimes, children approach these situations with <br> overwhelming dread or 
    they can't stop thinking about all the fears tied to one of these events. It <br> may seem that none of your
    comforts help. These children often get “stuck” on their worries. They <br> have a hard time doing their 
    daily activities, like going to school, playing and falling asleep. </h2> <br> <br>
    <footer><h2 class="ftext1">Contact Us</h2>
        <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
        <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
            <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_blank">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_blank">
            <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
            <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
            <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
        <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
        <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
        <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
        <input type="button" value="Subscribe" class="ftext7" id="myImg"> 
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img02" src="../static/images/confirm.jpg">
            <div id="caption"></div>
        </div><br> <br> <br>
        <hr class="bottomhr">
        <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
    </footer>
    <script>
        var modal = document.getElementById("myModal");
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
          modal.style.display = "none";
        }
    </script>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>