<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
     <!--FontAwesome CDN-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/disbid.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>