<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bipolar</title>
     <!--FontAwesome CDN-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/disbid.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <li><a href="../templates/feedback.html" target="_self">Feedback</a></li>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">What is Bipolar Disorder?<hr class="myhr"> </h2> 
    <h2 class="text1"><strong>Bipolar disorder </strong> (formerly known as manic-depressive illness or manic depression) is a 
        lifelong mood disorder and mental health condition that causes <br> intense shifts in mood, energy levels,
        thinking patterns and behavior. These shifts can last for hours, days, weeks or months and interrupt
        your ability to <br> carry out day-to-day tasks.
    </h2>
    <video width="420" height="340" poster="../static/images/bipolar.jpg" controls>
        <source src="../static/images/bipolar.mp4" type="video/mp4"></video>
    <h2 class="text2">Manic episodes<hr class="hr1">
    </h2>
    <h2 class="text1">A key feature of <strong> bipolar I disorder </strong> is manic episodes. To meet the criteria for bipolar I 
        disorder, you <br> must have had at least one manic episode in your life for at least a week with or without 
        ever experiencing a depressive episode.</h2>
    <h2 class="text3">Mania is a condition in which you have a period of abnormally elevated or irritable mood, as 
        well as extreme changes in emotions, thoughts, energy, talkativeness and activity level. This highly 
        energized level of physical and mental activity and behavior is a change from your usual self and is 
        noticeable by others.</h2>
    <h2 class="text3">People who are in manic states may indulge in activities that cause them physical, social or 
        financial harm, such as suddenly spending or gambling extreme amounts of money or driving recklessly. They 
        also occasionally develop psychotic symptoms, such as delusions and hallucinations, which can cause 
        difficulties in distinguishing bipolar disorder from other disorders.</h2>
    <h2 class="text3">People with certain types of bipolar such as <strong> bipolar II disorder </strong>, which is a less severe 
        form of mania. It doesn't last as long as manic episodes and it <br> doesn't interfere with daily 
        functioning as much.</h2>
    <img class="image1" src="../static/images/bipdis.jpg" align="left">
    <h2 class="text4">Depressive episodes <hr class="hr2">
    </h2>
    <h2 class="text5">During a <strong>depressive episode</strong>, you experience a low or depressed mood and/or loss of 
        interest in <br> most activities, as well as many other symptoms of depression, such as:</h2>
    <ul>
        <li class="mylist">Tiredness</li>
        <li class="mylist1">Changes in appetite</li>
        <li class="mylist1">Feelings of worthlessness and hopelessness.</li>
    </ul>
    <h2 class="text6">Who does bipolar disorder affect? <hr class="hr3"></h2>
    <h2 class="text5">Bipolar disorder can affect <strong>anyone</strong>. The average age of onset is 25 years, but, more rarely, 
        it can <br> start as early as early childhood or as late as in your 40s or 50s.
    </h2>
    <h2 class="text6">How common is bipolar disorder? <hr class="hr4"></h2>
    <h2 class="text5">Bipolar disorder affects approximately <strong>5.7</strong> million adult Americans or about <strong>2.6% </strong> of the U.S.
    <br> population.</h2> <br> <br>
    <footer><h2 class="ftext1">Contact Us</h2>
        <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
        <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
            <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_blank">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_blank">
            <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
            <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
            <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
        <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
        <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
        <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
        <input type="button" value="Subscribe" class="ftext7" id="myImg">
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img02" src="../static/images/confirm.jpg">
            <div id="caption"></div>
        </div><br> <br> <br>
        <hr class="bottomhr">
        <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
    </footer>
    <script>
        var modal = document.getElementById("myModal");
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
          modal.style.display = "none";
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>