<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\Pratyush\Desktop\Sem4Project\static\home.css">
</head>

<body>
    <nav>
        <img src="C:\Users\Pratyush\Desktop\Sem4Project\static\images\My project.png">
        <ul>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\home.html" target="_self" class="active">Home</a></li>
            <li><a href="#">Disorders <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Symptoms <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Causes <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Cure <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\contact.html" target="_self">Contact Us</a></li>
            <input type="text" placeholder="What are you looking for?"> <input type="button" value="Submit" class="nav_but">
        </ul>
    </nav>
    <hr size=15 color="blue">
    <img src="C:\Users\Pratyush\Desktop\Sem4Project\static\images\talented.jpg" class="background_image">
    <div>
    <h2 class="text">How Therapy Helps </h2>
    <img src="C:\Users\Pratyush\Desktop\Sem4Project\static\images\therapy.jpg" class="therapy_image" align="left">
    <h3 class="text1">The first and foremost purpose of online therapy is to give you a safe space <br>
         for disclosure. In your online therapy journey, you will know what an <br> uninterrupted 
         conversation feels like. It's easier to open up because you feel <br> not judged but understood. 
         Further, online therapy helps identify triggers <br> for your emotions and allows you to discover your 
         deep-rooted concerns.<br> With guidance and practical tools, you will feel happier, stronger, and
         grow, <br> at every step. <br> <br> You can Improve Relationships, Build Confidence, Overcome Peer
         Pressure, <br> Cope with Stress, Beat Anxiety & Outgrow Depression. It will EMPOWER <br> you with
          skill sets to <strong>become the best version of yourself.</strong>
    </h3> <br>
    <input type="button" value="Learn More" class="img_but">
</div>
<br><br> <br> <br> <br>
<div class="data">
    <h2 class="text2">Therapy = Therapist</h2>
    <img src="C:\Users\Pratyush\Desktop\Sem4Project\static\images\shivakshi.jpg" class="counsellor_image1">
    <img src="C:\Users\Pratyush\Desktop\Sem4Project\static\images\nadeesh1.png" class="counsellor_image2">
    <img src="C:\Users\Pratyush\Desktop\Sem4Project\static\images\archita.png" class="counsellor_image3">
    <h2 class="text3">Talk to Top Rated Counsellors Online</h2>
    <h3 class="text4">Your therapy experience depends a lot on your therapist's approach, skills, empathy and compassion. 
    All of our online counsellors hold a <br> Masters Degree in Psychology and undergo over <strong> 400+ hours</strong> of rigorous <strong>
    training and supervision. </strong> With expertise in various <br> psychotherapeutic techniques, they have <strong>
    assisted 5Lac+ clients </strong>to deal with the toughest life challenges and thrive in personal
    and <br> professional space.
    </h3> <br>
    <input type="button" value="Learn More" class="counsellor_but">  <br> <br> <br>
</div>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>