<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\Pratyush\Desktop\Sem4Project\static\code.css">
</head>

<body>

    <nav>
        <img src="C:\Users\Pratyush\Downloads\My project.png">
        <ul>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\home.html" target="_self" class="active">Home</a></li>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders.html" target="_self">Disorders</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms.html" target="_self">Symptoms</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes.html" target="_self">Causes</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Anxiety</a></li>
                        <li><a href="#">OCD</a></li>
                        <li><a href="#">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Cure</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Anxiety</a></li>
                        <li><a href="#">OCD</a></li>
                        <li><a href="#">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="icon" name="logo-instagram"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="icon1" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="icon2" name="logo-linkedin"></ion-icon></ion-icon></a></li>
        </ul>
    </nav>
    <hr size=15 color="blue">
    <footer>Copyright
        &#169 2023 | All rights reserved </footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>