<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
     <!--FontAwesome CDN-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>
    <nav>
        <img class="logo" src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self" class="active">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="list1"><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <li><a href="../templates/feedback.html" target="_self">Feedback</a></li>
        </ul>
        <div class="hambrger">
            <span class="bar"></span>
            <span class="bar1"></span>
            <span class="bar2"></span>
        </div>
    </nav>
    <hr size="12" color="blue">
    <img src="../static/images/talented.jpg" class="background_image">
    <div>
    <h2 class="text">How Therapy Helps </h2>
    <img src="../static/images/therapy.jpg" class="therapy_image" align="left">
    <h3 class="text1">The first and foremost purpose of online therapy is to give you a safe space
         for disclosure. In your online therapy journey, you will know what an uninterrupted 
         conversation feels like. It's easier to open up because you feel not judged but understood.
         Further, online therapy helps identify triggers for your emotions and allows you to discover your 
         deep-rooted concerns.<br> <br> You can Improve Relationships, Build Confidence, Overcome Peer
         Pressure, Cope with Stress, Beat Anxiety & Outgrow Depression. It will EMPOWER you with
        skill sets to <strong>become the best version of yourself.</strong> <br> <br>
        By the time you're done, you will not only have solved the problem that brought you in, but you will 
        have learned new skills so you can better cope with whatever challenges arise in the future.
    </h3>
</div>
<br><br> <br> <br> <br>
<div class="data">
    <h2 class="mytext">What Improves with Therapy </h2>
<div class="card">
     <img src="../static/images/relationship.jpg" class="card_image1">
        <h4 class="card_text1">Relationships</h4>
        <p class="card_text2">Are you looking to heal a troubled relationship? Online therapy can help.
            When it's difficult to move on from a breakup, it helps you deal with loss and build
            hope. Learn skills to rekindle the relationship.</p> <br>
</div>
<div class="card">
    <img src="../static/images/self_esteem.jpg" class="card_image2">
       <h4 class="card_text1">Self Esteem and Confidence</h4>
       <p class="card_text2">We are all inherently born worthy but some experiences make us question it.
        Understand the  root cause and develop your self confidence with a structured online
        counselling approach.</p> <br>
</div>
<div class="card">
    <img src="../static/images/depression.jpg" class="card_image3">
       <h4 class="card_text1">Depression,Stress and Anxiety</h4>
       <p class="card_text2">Some events in our life may leave us distressed, hurt or alone.
       And at times nothing can explain our difficult feelings and negative thoughts. Find out
       how online counselling can help.</p> <br>
</div>  <br> <br> <br> <br>
</div>
<div class="data1">
    <h2 class="text2">Therapy = Therapist</h2>
    <img src="../static/images/shivakshi.jpg" class="counsellor_image1" id="myImg">
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img02" src="../static/images/popup1.png">
        <div id="caption"></div>
    </div>
    <img src="../static/images/mannika.png" class="counsellor_image2" id="myImg1">
    <div id="myModal1" class="modal1">
        <span class="close1">&times;</span>
        <img class="modal-content1" id="img02" src="../static/images/popup2.png">
        <div id="caption1"></div>
    </div>
    <img src="../static/images/janvi.png" class="counsellor_image3" id="myImg2">
    <div id="myModal2" class="modal2">
        <span class="close2">&times;</span>
        <img class="modal-content2" id="img02" src="../static/images/popup3.png">
        <div id="caption2"></div>
    </div>
    <h2 class="text3">Talk to Top Rated Counsellors Online</h2>
    <h3 class="text4">Your therapy experience depends a lot on your therapist's approach, skills, empathy and compassion. 
    All of our online counsellors hold a  Masters Degree in Psychology and undergo over <strong> 400+ hours</strong> of rigorous <strong>
    training and supervision. </strong> <span id="dots"></span> <span id="more"> <br> <br> With expertise in various psychotherapeutic techniques, they have <strong>
    assisted 5Lac+ clients </strong>to deal with the toughest life challenges and thrive in personal
    and professional space. We are committed and serious about your well being and hence handpick 
    passionate and  thorough professionals and put them through a rigorous training on online therapy approach 
    to bring you the most fulfilling experience. <a class="demo" href="../templates/contact.html">Click here</a> to book a demo class. </span>
    </h3> <br>
    <button onclick="myFunction()" id="myBtn" class="counsellor_but">Read more</button>
  <br> <br> <br>
</div>
<footer><h2 class="ftext1">Contact Us</h2>
    <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
    <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
    <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
        <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
    <li><a href="https://github.com/madhura2023" target="_blank">
        <ion-icon class="github" name="logo-github"></ion-icon></a></li>
    <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
        <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
    <li><a href="https://www.whatsapp.com/" target="_blank">
        <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
    <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
        <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
        <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
    <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
    <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
    <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
    <input type="button" value="Subscribe" class="ftext7" id="myImg3">
    <div id="myModal3" class="modal3">
        <span class="close3">&times;</span>
        <img class="modal-content3" id="img02" src="../static/images/confirm.jpg">
        <div id="caption3"></div>
    </div> <br> <br> <br>
    <hr class="bottomhr">
    <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
</footer>
<script>
var modal = document.getElementById("myModal");
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
var span = document.getElementsByClassName("close")[0];
span.onclick = function() {
  modal.style.display = "none";
}
</script>
<script>
var modal1 = document.getElementById("myModal1");
var img1 = document.getElementById("myImg1");
var modalImg1 = document.getElementById("img01");
var captionText1 = document.getElementById("caption1");
img1.onclick = function(){
  modal1.style.display = "block";
  modalImg1.src = this.src;
  captionText1.innerHTML = this.alt;
}
var span1 = document.getElementsByClassName("close1")[0];
span1.onclick = function() {
  modal1.style.display = "none";
}
</script>
<script>
    var modal2 = document.getElementById("myModal2");
    var img2 = document.getElementById("myImg2");
    var modalImg2 = document.getElementById("img01");
    var captionText2 = document.getElementById("caption2");
    img2.onclick = function(){
      modal2.style.display = "block";
      modalImg2.src = this.src;
      captionText2.innerHTML = this.alt;
    }
    var span2 = document.getElementsByClassName("close2")[0];
    span2.onclick = function() {
      modal2.style.display = "none";
    }
    </script>
<script>
    var modal3 = document.getElementById("myModal3");
    var img3 = document.getElementById("myImg3");
    var modalImg3 = document.getElementById("img01");
    var captionText3 = document.getElementById("caption3");
    img3.onclick = function(){
      modal3.style.display = "block";
      modalImg3.src = this.src;
      captionText3.innerHTML = this.alt;
    }
    var span3 = document.getElementsByClassName("close3")[0];
    span3.onclick = function() {
      modal3.style.display = "none";
    }
</script>
<script>
    function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read More"; 
    moreText.style.display = "none";
    } 
    else {
    dots.style.display = "none";
    btnText.innerHTML = "Read Less"; 
    moreText.style.display = "inline";
    }
    }
</script>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
