<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/symadhd.css">
</head>

<body>

    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Disorders <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/disocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/disadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Symptoms <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/symanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/symocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Causes <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/cauanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Cure <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/curanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="../templates/curocd.html" target="_self">OCD</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <input type="text" placeholder="What are you looking for?"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
            
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Common signs and symptoms of ADHD<hr class="myhr"> </h2> 
    <h2 class="text1"><strong>ADHD </strong> is largely a hereditary condition. If one or both parents have been
         diagnosed with ADHD, their <strong>children</strong> are more likely to have it as well. <br> Children, teenagers
          and adults with ADHD have an ongoing pattern of three types of core behaviors:
    </h2>
    <img class="image" src="../static/images/inattentive-child.jpg" align="right">
    <ul>
        <li class="mylist"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Inattentiveness : </strong> &nbsp;Difficulty sustaining attention to tasks.</li>
        <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Impulsivity : </strong> &nbsp;Doing things on sudden urges, without thinking
            such as talking out in class, throwing a toy, or interrupting someone in conversation. In adults, 
            the impulses may be irresponsible such as spending too much money.
        <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Hyperactivity : </strong> &nbsp;Restlessness such as
            fidgeting, inability to stay seated when sitting is expected such as in church or school, moving or
            climbing when it's inappropriate to do so.
    </ul>
    <h2 class="text2">Although the exact etiology (i.e., origins) of ADHD are ill-defined, healthcare providers
         report other associated risk factors:
   </h2>
   <ul>
   <li class="mylist2"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Biological :</strong> 
    &nbsp;ADHD is associated with the way certain neurotransmitters (chemicals in the brain that help control behavior) 
    work, especially dopamine and norepinephrine, and this difference causes changes in different attentional 
    networks of the brain.
    <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Environment : </strong> &nbsp; Exposure to toxins (poisons) in the environment (lead, for example) has been linked to ADHD in children.
    <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Prenatal substance exposure (during pregnancy): </strong> &nbsp;
        Smoking and/or drug and alcohol use during pregnancy is associated with ADHD in children.
   </ul>






















    <!--<h3 class="text2">1) Inattentiveness <i class="fa-solid fa-brain" id="icon"></i>
        <hr class="hr1">
    </h3> <br>
   <p class="para1">Mindfulness is a way of living that helps you face your fear and live life fully,
        irrespective of what the future hold for you.<br> Mindfulness is just the exact opposite of anxiety.
        People with anxiety can't stop worrying. Whereas with mindfulness, <br> you will be able to improve focus
        in life and reduce anxiety without the need for any medication.
    </p> 
    <h3 class="text3">2) Keep Yourself Physically Active <i class="fa-solid fa-person-walking" id="icon1"></i>
        <hr class="hr2">
    </h3> <br>
    <p class="para1"> Physical exercise is one of the best ways of reducing stress and anxiety. It acts
        like a mood booster and eases depression <br> and anxiety by releasing endorphins which are the chemicals 
        in the brain that act as natural painkillers and reduces stress. <br> Exercise may improve mental health by
        helping the brain cope better with stress. In one study, researchers found that <br> those who got regular
        vigorous exercise were 25 percent less likely to develop anxiety disorder over the next 5 years.
    </p>
    <h3 class="text3">3) Avoid Triggers (Alcohol, Caffeine, etc.) <i class="fa-solid fa-wine-glass-empty" id="icon1"></i>
        <hr class="hr3">
    </h3> <br> 
    <p class="para1"> Excessive consumption of alcohol and caffeine can make it even more difficult
        to cope with your anxiety and stress, <br> worsening the situation, consuming alcohol in high amounts might lead
        to greater alocohol dependence, blackout, brain <br> damage, etc. which will only increase your
         anxiety and stress. Excessive caffeine consumption can lead to symptoms <br> similar to psychiatric conditions
         including sleep and anxiety disorders, anxiety, and psychotic symptoms.
    </p>-->
    <footer><p class="copyright">Copyright &#169 2023 | All rights reserved </p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_self">
            <ion-icon class="linkedin" name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_self">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_self">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_self">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_self">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> 
     </footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>