<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/symanxiety.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#" class="active">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Signs and Symptoms of Anxiety<hr class="myhr"> </h2> 
    <h2 class="text1">Symptoms of <strong>Anxiety</strong> can range in number, intensity, and frequency, depending on the person. General symptoms of an anxiety disorder include:
    </h2>
    <img class="image" src="../static/images/tension.jpg" align="right">
    <h2 class="text2">Phsycial Symptoms <hr class="hr1"></h2>
    <ul>
        <li class="mylist">Cold or sweaty hands</li>
        <li class="mylist1">Numbness or tingling in hands or feet</li>
        <li class="mylist1">Breathing rapidly (hyperventilation)</li>
        <li class="mylist1">Having a sense of impending danger, panic or doom.</li>
    </ul>
    <h2 class="text2">Mental Symptoms <hr class="hr2"></h2>
    <ul>
        <li class="mylist">Feeling panic, fear and uneasiness</li>
        <li class="mylist1">Repeated thoughts or flashbacks of traumatic experiences</li>
        <li class="mylist1">Uncontrollable, obsessive thoughts.</li>
    </ul>
    <h2 class="text2">Behavioral symptoms <hr class="hr3"></h2>
    <ul>
        <li class="mylist">Inability to be still and calm</li>
        <li class="mylist1">Ritualistic behaviors, such as washing hands repeatedly</li>
        <li class="mylist1">Trouble sleeping.</li>
    </ul>
    <img class="image1" src="../static/images/diagnosis.jpg" align="left">
    <h2 class="text3">Diagnosis and Tests</h2>
    <h2 class="text4">How are anxiety disorders diagnosed? <hr class="hr4"></h2>
    <h2 class="text5">If you have symptoms of an anxiety disorder, talk to your <strong>healthcare provider</strong>. They'll 
        start with a complete medical history and physical examination. There are no lab tests or scans that 
        can <br> diagnose anxiety disorders. But your provider may run some of these tests to rule out physical <br> 
        conditions that may be causing symptoms.</h2>
    <h2 class="text4">Who can diagnose anxiety disorders? <hr class="hr5"></h2>
    <h2 class="text5">If your provider finds no signs of physical illness, they may refer you to a <strong>psychiatrist</strong>
        or <br> <strong>psychologist</strong>. These mental health professionals specialize in diagnosing and treating mental <br> illnesses. 
        They may use specially designed interview and assessment tools to figure out if you have <br> an anxiety
        disorder. Typically, the provider bases a diagnosis on: </h2>
    <ul>
        <li class="mylist2">Your reported symptoms, including how intense they are and how long they last</li>
        <li class="mylist3">Discussion of how the symptoms interfere with your daily life.</li>
    </ul> <br> <br>
    <footer><h2 class="ftext1">Contact Us</h2>
        <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
        <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
            <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_blank">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_blank">
            <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
            <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
            <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
        <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
        <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
        <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
        <input type="button" value="Subscribe" class="ftext7"> <br> <br> <br>
        <hr class="bottomhr">
        <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
    </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>