<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/symadhd.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Common signs and symptoms of ADHD<hr class="myhr"> </h2> 
    <h2 class="text1"><strong>ADHD </strong> is largely a hereditary condition. If one or both parents have been
         diagnosed with ADHD, their <strong>children</strong> are more likely to have it as well. <br> Children, teenagers
          and adults with ADHD have an ongoing pattern of three types of core behaviors:
    </h2>
    <img class="image" src="../static/images/inattentive-child.jpg" align="right">
    <ul>
        <li class="mylist"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Inattentiveness : </strong> &nbsp;Difficulty sustaining attention to tasks.</li>
        <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Impulsivity : </strong> &nbsp;Doing things on sudden urges, without thinking
            such as talking out in class, throwing a toy, or interrupting someone in conversation. In adults, 
            the impulses may be irresponsible such as spending too much money.
        <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Hyperactivity : </strong> &nbsp;Restlessness such as
            fidgeting, inability to stay seated when sitting is expected such as in church or school, moving or
            climbing when it's inappropriate to do so.
    </ul>
    <h2 class="text2">Although the exact etiology (i.e., origins) of ADHD are ill-defined, healthcare providers
         report other associated risk factors:
   </h2>
   <ul>
   <li class="mylist2"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Biological :</strong> 
    &nbsp;ADHD is associated with the way certain neurotransmitters (chemicals in the brain that help control behavior) 
    work, especially dopamine and norepinephrine, and this difference causes changes in different attentional 
    networks of the brain.
    <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Environment : </strong> &nbsp; Exposure to toxins (poisons) in the environment (lead, for example) has been linked to ADHD in children.
    <li class="mylist1"> <strong style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: underline;">Prenatal substance exposure (during pregnancy): </strong> &nbsp;
        Smoking and/or drug and alcohol use during pregnancy is associated with ADHD in children.
   </ul>
   <img class="image1" src="../static/images/inattentive-child1.jpg" align="left">
   <h2 class="text3"><strong>ADHD Predominantly Inattentive Presentation </strong> is defined by the following nine behaviors:
   </h2>
   <ul>
    <li class="mylist3"> Fails to pay close attention to details or makes careless mistakes in schoolwork, at work or <br> during other activities</li>
    <li class="mylist4">Has trouble paying attention during tasks or play</li>
    <li class="mylist4">Appears to not listen even when spoken to directly</li>
    <li class="mylist4">Has difficulty following through on instructions (for example, doesn't finish schoolwork, chores <br> or other duties in the workplace)</li>
    <li class="mylist4">Often has trouble organizing tasks or activities</li>
    <li class="mylist4">Avoids or dislikes tasks that require continuous mental effort, such as schoolwork, homework or <br>
        preparing reports, completing forms and reviewing lengthy papers</li>
    <li class="mylist4">Frequently loses needed items, such as books, pencils, tools, wallets/purses, keys, paperwork, <br> phone and eyeglasses</li>
    <li class="mylist4">Can be easily distracted by actions or thoughts unrelated to the current task.</li>
   </ul> <br> <br>
   <footer><h2 class="ftext1">Contact Us</h2>
    <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
    <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
    <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
        <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
    <li><a href="https://github.com/madhura2023" target="_blank">
        <ion-icon class="github" name="logo-github"></ion-icon></a></li>
    <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
        <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
    <li><a href="https://www.whatsapp.com/" target="_blank">
        <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
    <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
        <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
        <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
    <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
    <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
    <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
    <input type="button" value="Subscribe" class="ftext7"> <br> <br> <br>
    <hr class="bottomhr">
    <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
</footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>