<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
     <!--FontAwesome CDN-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/symbid.css">
</head>

<body>
    <nav>
        <img src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <input type="text" placeholder="Search"><a href=""><i class="fa-solid fa-magnifying-glass" id="search"></i></a>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">Symptoms of Bipolar Disorder<hr class="myhr"> </h2> 
    <h2 class="text1">Some people with <strong>bipolar disorder</strong> will have episodes of mania or hypomania many times throughout 
        their life; others may experience them only rarely.
    </h2>
    <img class="image" src="../static/images/hallucination.jpg" align="right">
    <h2 class="text2">Signs and symptoms of a manic episode include : <hr class="hr1"></h2>
    <ul>
        <li class="mylist">Excessive happiness, hopefulness and excitement</li>
        <li class="mylist1">Sudden and severe changes in mood, such as going from being joyful to being angry and
             hostile</li>
        <li class="mylist1">Increased impulsivity and poor judgment, such as suddenly quitting your job</li>
        <li class="mylist1">Psychosis — experiencing hallucinations and delusions (in the most severe manic episodes).</li>
    </ul>
    <h2 class="text1">If a person is having an intense manic episode, especially if they're experiencing 
        hallucinations and delusions, they may need to be hospitalized to protect themselves and others from
        possible harm</h2>
    <h2 class="text2">Signs and symptoms of hypomania<hr class="hr2"></h2>
    <h2 class="text1">Some people with bipolar disorder have milder manic-like symptoms. This is called <sttong>hypomania</sttong>.
         With hypomania, you may feel very good and find that you can get a lot done. People with hypomania can 
         often function well in social situations or at work. You may not feel like anything is wrong during a 
         hypomanic episode. But your family and friends may notice your mood swings and activity level changes and 
         think that they're unusual for you. After hypomania, you might experience severe depression.</h2>
    <img class="image1" src="../static/images/crying.jpg" align="left">
    <h2 class="text3">Signs and symptoms of depressive episodes include : <hr class="hr3"></h2>
    <h2 class="text4">The symptoms of depressive episodes in <strong>bipolar disorder</strong> are the same as those of major <br>
         depression. They include: </h2>
         <ul>
            <li class="mylist2">Loss of enjoyment of things that were once pleasurable for you</li>
            <li class="mylist3">Thoughts of death or suicide (suicidal ideation)</li>
            <li class="mylist3">Uncontrollable crying</li>
            <li class="mylist3">Insomnia or excessive sleep</li>
            <li class="mylist3">Difficulty concentrating and making decisions.</li>
        </ul>
    <h2 class="text5">Signs and symptoms of a mixed episode<hr class="hr4"></h2>
    <h2 class="text4">The symptoms of a <strong>mixed episode</strong> include both manic and depressive symptoms together. 
        During <br> a mixed episode, you have the negative feelings and thoughts that come with depression but also <br>
        feel agitated, restless and high energy. People who experience mixed episodes often describe it <br> as the 
        worst part of bipolar disorder.</h2> <br> <br>
        <footer><h2 class="ftext1">Contact Us</h2>
            <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
            <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="github" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
                <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
            <li><a href="https://www.whatsapp.com/" target="_blank">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
                <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
            <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
            <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
            <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
            <input type="button" value="Subscribe" class="ftext7"> <br> <br> <br>
            <hr class="bottomhr">
            <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
        </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>