<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms of OCD</title>
    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/symocd.css">
</head>

<body>
    <nav>
        <img class="logo" src="../static/images/My project (1).png">
        <ul>
            <li><a href="../templates/home.html" target="_self">Home</a></li>
            <li><a href="#">Anxiety <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disanxiety.html" target="_self">About</a></li>
                        <li><a href="../templates/symanxiety.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauanxiety.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curanxiety.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" class="active">OCD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disocd.html" target="_self">About</a></li>
                        <li><a href="../templates/symocd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauocd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curocd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">ADHD <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disadhd.html" target="_self">About</a></li>
                        <li><a href="../templates/symadhd.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/cauadhd.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curadhd.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Bipolar <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../templates/disbid.html" target="_self">About</a></li>
                        <li><a href="../templates/symbid.html" target="_self">Symtpoms</a></li>
                        <li><a href="../templates/caubid.html" target="_self">Causes</a></li>
                        <li><a href="../templates/curbid.html" target="_self">Cure</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="../templates/contact.html" target="_self">Contact Us</a></li>
            <li><a href="../templates/quiz.html" target="_self">Take a Quiz</a></li>
            <li><a href="../templates/feedback.html" target="_self">Feedback</a></li>
        </ul>
    </nav>
    <hr size="12" color="blue">
    <h2 class="heading">What are the Symptoms of OCD?<hr class="myhr"> </h2> 
    <h2 class="text1">The main symptoms of OCD are obsessions and compulsions that interfere with <strong>normal activities</strong>.
         For example, symptoms may often prevent you from getting to work on time. Or you may have trouble getting 
         ready for bed in a reasonable amount of time.
    </h2>
    <img class="image" src="../static/images/fear.jpg" align="right">
    <h2 class="text2">Obsession symptoms <hr class="hr1"></h2>
    <h2 class="text1">OCD obsessions are repeated, persistent and unwanted thoughts, urges or images that are
         intrusive and cause distress or anxiety. You might try to ignore them or get rid of them by performing a 
         compulsive behavior or ritual. These obsessions typically intrude when you're trying to think of or do 
         other things. Common examples include:</h2>
         <ul>
            <li class="mylist">Fear of coming into contact with perceived contaminated substances, such as germs or dirt</li>
            <li class="mylist1">Fear of causing harm to yourself or someone else because you're not careful enough
                 or you're going to act on a violent impulse</li>
            <li class="mylist1">Excessive concern with morality (“right or wrong”)</li>
            <li class="mylist1">Doubting and having difficulty tolerating uncertainty</li>
         </ul>
         <h2 class="text2">Compulsions in OCD <hr class="hr2"></h2>
         <h2 class="text1">In OCD, compulsions are repetitive actions that you feel like you have to do to ease 
            or get rid of the obsessions. People with OCD don't want to perform these compulsive behaviors and don't
            get pleasure from them. But they feel like they have to perform them or their anxiety will get worse.
            Compulsions only help temporarily, though.</h2>
        <img class="image1" src="../static/images/harm.jpg" align="left">
        <h2 class="text3">Compulsion Symptoms <hr class="hr3"></h2>
        <h2 class="text4">OCD compulsions are <strong>repetitive behaviors</strong> that you feel driven to perform. These
            repetitive behaviors or mental acts are meant to reduce anxiety related to your obsessions or prevent
            something bad from happening. However, engaging in the compulsions brings no pleasure and may offer 
            only a temporary relief from anxiety. As with obsessions, compulsions typically have themes,  such as:</h2>
        <ul>
            <li class="mylist2">Arranging things in a very specific way, such as items on your dresser</li>
            <li class="mylist3">Collecting or hoarding items that have no personal or financial value</li>
            <li class="mylist3">Constantly checking that you haven't caused someone harm.</li>
        <h2 class="text5">How is OCD diagnosed? <hr class="hr4"></h2>
        <h2 class="text4"> There's <strong>no test</strong> for OCD. A healthcare provider makes the diagnosis after asking you 
            about your symptoms and medical and mental health history. Providers use criteria explained in the 
            Diagnostic  and Statistical Manual of Mental Disorders, 5th Edition (DSM-V) to diagnose OCD.</h2>
        </ul> <br> <br> <br>
        <footer><h2 class="ftext1">Contact Us</h2>
            <h2 class="ftext2">Our Social Links</h2> </div> <br> <br> <br> <br>
            <p class="ftext3"> <ion-icon name="call-sharp" id="myphone"></ion-icon> 9546489470</p>
            <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_blank">
                <ion-icon class="linkedin" name="logo-linkedin" id="myphone"></ion-icon></a></li>
            <li><a href="https://github.com/madhura2023" target="_blank">
                <ion-icon class="github" name="logo-github"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_blank">
                <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
            <li><a href="https://www.whatsapp.com/" target="_blank">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
            <li><a href="https://www.instagram.com/_.pratyush_m/" target="_blank">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> <br> <br>
                <p class="ftext3_2"><ion-icon name="call-sharp" id="myphone"></ion-icon> 9822375410</p> 
            <h3 class="ftext4">Get Your Daily Scoop Of Happiness!</h3> <br>
            <input type="text" placeholder="Enter your email address" class="ftext5"> <br>
            <h3 class="ftext6">Thank you for subscribing, we'll be in your inbox soon.</h3> <br>
            <input type="button" value="Subscribe" class="ftext7" id="myImg">
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img02" src="../static/images/confirm.jpg">
                <div id="caption"></div>
            </div> <br> <br> <br>
            <hr class="bottomhr">
            <h3 class="ftext8">Copyright &#169 2023 | All rights reserved</h3>
        </footer>
        <script>
            var modal = document.getElementById("myModal");
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
              modal.style.display = "none";
            }
        </script>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>