<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\Pratyush\Desktop\Sem4Project\static\disorders\disanxiety.css">
</head>

<body>

    <nav>
        <img src="C:\Users\Pratyush\Desktop\Sem4Project\static\images\My project (1).png">
        <ul>
            <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\home.html" target="_self">Home</a></li>
            <li><a href="#" class="active">Disorders <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disocd.html" target="_self" >OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\disorders\disadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Symptoms <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\symptoms\symadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Causes <ion-icon name="caret-down-outline" class="drop_icon"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\causes\cauadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Cure<ion-icon name="caret-down-outline" class="drop_icon1"></ion-icon></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curanxiety.html" target="_self">Anxiety</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curocd.html" target="_self">OCD</a></li>
                        <li><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\cure\curadhd.html" target="_self">ADHD</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact"><a href="C:\Users\Pratyush\Desktop\Sem4Project\templates\contact.html" target="_self">Contact Us</a></li>
            <input type="text" placeholder="What are you looking for?"> <input type="button" value="Submit">
        </ul>
    </nav>
    <hr size=15 color="blue">
    <footer><p class="para1">Copyright &#169 2023 | All rights reserved </p>
        <li><a href="https://www.linkedin.com/in/pratyush-majumdar-2aa217257/" target="_self">
            <ion-icon class="linkedin" name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://github.com/madhura2023" target="_self">
            <ion-icon class="github" name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/pratyush.majumdar.56" target="_self">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon> </a> </li>
        <li><a href="https://www.whatsapp.com/" target="_self">
                <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon> </a></li>
        <li><a href="https://www.instagram.com/_.pratyush_m/" target="_self">
                <ion-icon class="insta" name="logo-instagram"></ion-icon></a></li> 
     </footer>
        <!--IonIcon CDN-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>